﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="NewApplication.aspx.vb" Inherits="Maxiloan.Webform.LoanOrg.NewApplication" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link rel="Stylesheet" href="../../../../Include/NewApplication.css" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <ul id="toc">
            <li><a href="Application_003.aspx">Aplikasi</a> </li>
            <li>Asset</li>
            <li>Asuransi</li>
            <li>Financial</li>
            <li>Insentif</li>
            <li>Rincian Transaksi</li>
            <li>Survey</li>
        </ul>
    </div>
    </form>
</body>
</html>
