﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="ucRSViewerPopup.aspx.vb"
    Inherits="Maxiloan.Webform.Reports.ucRSViewerPopup" %>

<%@ Register TagPrefix="uc1" TagName="ucRSViewer" Src="../Webform.UserController/ucRSViewer.ascx" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <asp:ScriptManager runat="server" ID="sm1">
    </asp:ScriptManager> 
    <uc1:ucRSViewer ID="ucRSViewer1" runat="server" />
    </form>
</body>
</html>
