﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="am_menu_002.aspx.vb" Inherits="Maxiloan.Webform.AppMgt.am_menu_002" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link rel="Stylesheet" href="../../Include/General.css" type="text/css" />
    <link rel="Stylesheet" href="../../Include/Buttons.css" type="text/css" />
	<script src="../../Maxiloan.js" type="text/javascript"></script>
    <script language="javascript" type="text/javascript">
        function fback() {
            history.back(-1);
            return false;
        }
        function click() {
            if (event.button == 2) {
                alert('You Are Not Authorize!');
            }
        }
        document.onmousedown = click
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <asp:Label ID="lblMessage" runat="server" Visible="false" ToolTip="Click to close" onclick="hideMessage();"></asp:Label>
    <div class="form_title">
        <div class="form_single">
            <h3>
                List Of Menu</h3>
        </div>
    </div>
    <div class="form_box">
        <div class="form_single">
            <label>
                Application ID
            </label>
            <asp:DropDownList ID="cboApplication" runat="server" DataValueField="applicationid"
                DataTextField="applicationname">
                <asp:ListItem Value="0" Selected="True">Select Application</asp:ListItem>
            </asp:DropDownList>
        </div>
    </div>
    <div class="form_button">
        <asp:Button ID="btnGoWithAppId" runat="server" Text="Search" CssClass="small button blue">
        </asp:Button>
    </div>
    <asp:Panel runat="server" ID="pnlTree">
        <div class="form_box_title_nobg">
            <div class="form_left">
                <div class="tree_menu_ws">
                    <asp:TreeView ID="TreeView2" runat="server" AutoGenerateDataBindings="False" ShowLines="True"
                        ExpandDepth="1">
                        <DataBindings>
                            <asp:TreeNodeBinding DataMember="MsMenu" SelectAction="SelectExpand" Text="Root"
                                Value="Root" />
                            <asp:TreeNodeBinding DataMember="MsMenuItem" ShowCheckBox="False" TextField="title"
                                ValueField="menuid" SelectAction="SelectExpand" />
                        </DataBindings>
                    </asp:TreeView>
                    <asp:XmlDataSource ID="XmlDataSource1" runat="server" EnableCaching="False"></asp:XmlDataSource>
                </div>
            </div>
            <div class="form_right">
                <asp:Panel ID="Panel1" runat="server" Visible="false">
                    <div id="pnlForm" runat="server">
                        <div class="form_box_title">
                            <div class="form_single">
                                <h4>
                                    Menu Details</h4>
                            </div>
                        </div>
                        <div class="form_box">
                            <div class="form_single">
                                <label>
                                    Menu ID
                                </label>
                                <asp:Label ID="lblMenuID" runat="server"></asp:Label>
                            </div>
                        </div>
                        <div class="form_box">
                            <div class="form_single">
                                <label>
                                    Parent Menu ID
                                </label>
                                <asp:Label ID="lblParentMenuID" runat="server"></asp:Label>
                            </div>
                        </div>
                        <div class="form_box">
                            <div class="form_single">
                                <label>
                                    Prompt
                                </label>
                                <asp:Label ID="lblPrompt" runat="server"></asp:Label>
                            </div>
                        </div>
                        <div class="form_box">
                            <div class="form_single">
                                <label>
                                    Level
                                </label>
                                <asp:Label ID="lblLevel" runat="server"></asp:Label>
                            </div>
                        </div>
                        <div class="form_box">
                            <div class="form_single">
                                <label>
                                    Result
                                </label>
                                <asp:Label ID="lblResult" runat="server"></asp:Label>
                            </div>
                        </div>
                        <div class="form_box">
                            <div class="form_single">
                                <label>
                                    Command
                                </label>
                                <asp:Label ID="lblCommand" runat="server" Width="225px"></asp:Label>
                            </div>
                        </div>
                        <div class="form_box">
                            <div class="form_single">
                                <label>
                                    Form ID
                                </label>
                                <asp:Label ID="lblFormID" runat="server"></asp:Label>
                            </div>
                        </div>
                        <div class="form_box">
                            <div class="form_single">
                                <label>
                                    Form File Name
                                </label>
                                <asp:Label ID="lblFormFileName" runat="server"></asp:Label>
                            </div>
                        </div>
                        <div class="form_box">
                            <div class="form_single">
                                <label>
                                    Side
                                </label>
                                <asp:Label ID="lblSide" runat="server"></asp:Label>
                            </div>
                        </div>
                        <div class="form_box">
                            <div class="form_single">
                                <label>
                                    Display
                                </label>
                                <asp:Label ID="lblDisplay" runat="server" Visible="False"></asp:Label>
                            </div>
                        </div>
                        <div class="form_box">
                            <div class="form_single">
                                <label>
                                    Active
                                </label>
                                <asp:CheckBox ID="chkActive" runat="server" Visible="False"></asp:CheckBox>
                            </div>
                        </div>
                    </div>
                    <div id="pnlAddMenu" runat="server">
                        <div class="form_box">
                            <div class="form_single">
                                <label>
                                    Menu ID
                                </label>
                                <asp:Label ID="lblAddMenuID" runat="server"></asp:Label>
                            </div>
                        </div>
                        <div class="form_box">
                            <div class="form_single">
                                <label>
                                    Parent Menu ID
                                </label>
                                <asp:Label ID="lblAddParentMenuID" runat="server"></asp:Label>
                            </div>
                        </div>
                        <div class="form_box">
                            <div class="form_single">
                                <label>
                                    Prompt Name
                                </label>
                                <asp:TextBox ID="txtAddPrompt" runat="server" 
                                    CssClass="long_text no_text_transf"></asp:TextBox>
                            </div>
                        </div>
                        <div class="form_box">
                            <div class="form_single">
                                <label>
                                    Side
                                </label>
                                <asp:DropDownList ID="cboAddSide" runat="server">
                                    <asp:ListItem Value="">Select Side</asp:ListItem>
                                    <asp:ListItem Value="L">Left</asp:ListItem>
                                    <asp:ListItem Value="R">Right</asp:ListItem>
                                    <asp:ListItem Value="T">Top</asp:ListItem>
                                    <asp:ListItem Value="B">Bottom</asp:ListItem>
                                </asp:DropDownList>
                            </div>
                        </div>
                        <div class="form_box">
                            <div class="form_single">
                                <label>
                                    Level
                                </label>
                                <asp:Label ID="lblAddLevel" runat="server"></asp:Label>
                            </div>
                        </div>
                        <div class="form_box">
                            <div class="form_single">
                                <label>
                                    Result
                                </label>
                                <asp:DropDownList ID="cboAddResult" runat="server">
                                    <asp:ListItem Value="">Select Result</asp:ListItem>
                                    <asp:ListItem Value="SM">SubMenu</asp:ListItem>
                                    <asp:ListItem Value="CM">Command</asp:ListItem>
                                    <asp:ListItem Value="FM">Form</asp:ListItem>
                                </asp:DropDownList>
                            </div>
                        </div>
                        <div class="form_box">
                            <div class="form_single">
                                <label>
                                    Display Order
                                </label>
                                <asp:TextBox ID="txtAddDisplay" runat="server" MaxLength="3"></asp:TextBox>
                            </div>
                        </div>
                        <div class="form_box">
                            <div class="form_single">
                                <label class ="label_general">
                                    Command
                                </label>
                                <asp:TextBox ID="txtAddCommand" runat="server" TextMode ="MultiLine" CssClass="multiline_textbox"  ></asp:TextBox>
                            </div>
                        </div>
                        <div class="form_box">
                            <div class="form_single">
                                <label>
                                    Form ID
                                </label>
                                <asp:TextBox ID="txtAddFormID" runat="server"></asp:TextBox>
                            </div>
                        </div>
                        <div class="form_box">
                            <div class="form_single">
                                <label>
                                    Active
                                </label>
                                <asp:CheckBox ID="chkAddActive" runat="server"></asp:CheckBox>
                            </div>
                        </div>
                        <asp:Label ID="Message" runat="server"></asp:Label>
                        <asp:RegularExpressionValidator ID="RegularExpressionValidator1" runat="server" ControlToValidate="txtAddDisplay"
                            Display="Dynamic" ErrorMessage="Harus angka!" ValidationExpression="(^\d{1}$)|(^\d{2}$)|(^\d{3}$)"></asp:RegularExpressionValidator>
                    </div>
                    <div class="form_button">
                        <asp:Button ID="btnAdd" runat="server" Text="Add Child Menu" CssClass="small button blue">
                        </asp:Button>
                        <asp:Button ID="btnEdit" runat="server" Text="Edit" CssClass="small button blue">
                        </asp:Button>
                        <asp:Button ID="btnDel" runat="server" Text="Delete" CssClass="small button red">
                        </asp:Button>
                    </div>
                    <div id="pnlSaveCancel" runat="server">
                        <div class="form_button">
                            <asp:Button ID="btnSave" runat="server" Text="Save" CssClass="small button blue">
                            </asp:Button>
                            <asp:Button ID="btnCancel" runat="server" Text="Cancel" CssClass="small button gray">
                            </asp:Button></div>
                    </div>
                </asp:Panel>
            </div>
        </div>
        <asp:Panel runat="server" ID="pnlReorderMenu">
            <div class="form_box_title_nobg">
                <asp:GridView runat="server" ID="gvReorder" AutoGenerateColumns="false" AllowPaging="false"
                    CssClass="grid_general">
                    <RowStyle CssClass="item_grid" />
                    <HeaderStyle CssClass="th" />
                    <Columns>
                        <asp:ButtonField ButtonType="Image" ImageUrl="../../Images/collapse.gif" CommandName="up"
                            Text="UP" />
                        <asp:ButtonField ButtonType="Image" ImageUrl="../../Images/expand.gif" CommandName="down"
                            Text="DOWN" />
                        <asp:BoundField DataField="MenuID" Visible="false" />
                        <asp:BoundField DataField="Order_" HeaderText="ORDER" />
                        <asp:BoundField DataField="Prompt" HeaderText="PROMPT" />
                    </Columns>
                </asp:GridView>
                <div class="form_button ">
                    <asp:Button runat="server" ID="btnReorderReset" Text="Reset Order" CssClass="small button blue" />
                </div>
            </div>
        </asp:Panel>
    </asp:Panel>
    </form>
</body>
</html>
