﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="InvoiceSTNK.aspx.vb" Inherits="Maxiloan.Webform.Reports.RDLC.InvoiceSTNK1" %>

<%@ Register Assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
    Namespace="Microsoft.Reporting.WebForms" TagPrefix="rsweb" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
     <asp:ScriptManager runat="server" ID="ScriptManager1">
    </asp:ScriptManager>
       <rsweb:ReportViewer ID="ReportViewer1" runat="server" />
    </form>
</body>
</html>