﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="am_logout.aspx.vb" Inherits="Maxiloan.Webform.am_logout" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script src="Maxiloan.js" type ="text/javascript" ></script>
</head>
<body>
    <form id="form1" runat="server">
    <div id="outtext"  runat ="server">    
    </div>
    </form>
</body>
</html>
