﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="am_sessionend.aspx.vb"
    Inherits="Maxiloan.Webform.am_sessionend" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script src="../../Maxiloan.js" type ="text/javascript" ></script>
    <link rel="Stylesheet" href="Include/General.css" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <div>        
        <asp:Label runat="server" ID="lblMessage"></asp:Label>
    </div>
    </form>
</body>
</html>
