﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="CreditAssessmentTab.ascx.vb" Inherits="Maxiloan.Webform.UserController.CreditAssessmentTab" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>
<div class="tab_container">
    <div id="tabVerifikasiPhone" runat="server">
        <asp:HyperLink ID="hyVerifikasi" runat="server">VERIFIKASI VIA PHONE</asp:HyperLink></div>
    <div id="tabRekening" runat="server">
        <asp:HyperLink ID="hyRekening" runat="server">REKENING BANK</asp:HyperLink></div>
</div>