﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ucAPTypeNew.ascx.vb" Inherits="Maxiloan.Webform.UserController.ucAPTypeNew" %>


 <div >
            
                <label>
                    Pembayaran/Pencairan</label>
                <asp:DropDownList ID="cmbAPTypeNew" runat="server">    
                </asp:DropDownList>
                <asp:RequiredFieldValidator ID="rfv1" runat="server" Display="Dynamic"
                    ErrorMessage="Harap pilih Jenis Pembayaran/Pencairan" ControlToValidate="cmbAPTypeNew"
                    InitialValue="0" CssClass="validator_general"></asp:RequiredFieldValidator>
            
 </div>