﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="UcApplicationType.ascx.vb" Inherits="Maxiloan.Webform.UserController.UcApplicationType" %>
<asp:DropDownList id="CmpApplicationType" runat="server"></asp:DropDownList>
