﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ucApplicationTabFactoring.ascx.vb"
    Inherits="Maxiloan.Webform.UserController.ucApplicationTabFactoring" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>
<div class="tab_container">
    <div id="tabAplikasi" runat="server">
        <asp:HyperLink ID="hypAplikasi" runat="server">APLIKASI</asp:HyperLink></div>
    <div id="tabAsset" runat="server">
        <asp:HyperLink ID="hypInvoice" runat="server">INVOICE</asp:HyperLink></div> <%--menggunakan kolom asset dalam table--%>
    <div id="tabFinancial" runat="server">
        <asp:HyperLink ID="hypFinancial" runat="server">FINANCIAL</asp:HyperLink></div> 
    <%--<div id="tabFinancial2" runat="server">
        <asp:HyperLink ID="hypFinancial2" runat="server">FINANCIAL-2</asp:HyperLink></div>
    <div id="tabInsentif" runat="server">
        <asp:HyperLink ID="hypInsentif" runat="server">INSENTIF</asp:HyperLink></div>--%>
</div>
