﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="UcBankMaster.ascx.vb"
    Inherits="Maxiloan.Webform.UserController.UcBankMaster" %>
<asp:DropDownList ID="cboBankName" runat="server">
</asp:DropDownList>
<asp:RequiredFieldValidator ID="RequiredFieldValidator4" runat="server" InitialValue="0"
    Display="Dynamic" ErrorMessage="Please Select Bank" ControlToValidate="cboBankName" CssClass ="validator_general"></asp:RequiredFieldValidator>