﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ucBankAccountNoCondition.ascx.vb"
    Inherits="Maxiloan.Webform.UserController.ucBankAccountNoCondition" %>
<asp:DropDownList ID="cmbBankAccount" runat="server">
</asp:DropDownList>
<asp:RequiredFieldValidator ID="RequiredFieldValidator4" runat="server" InitialValue="0"
    Display="Dynamic" ErrorMessage="Harap pilih Rekening Bank" ControlToValidate="cmbBankAccount" CssClass ="validator_general"></asp:RequiredFieldValidator>