﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ucBankAccountReconcile.ascx.vb" Inherits="Maxiloan.Webform.UserController.ucBankAccountReconcile" %>
<asp:dropdownlist id="cmbBankAccount"  runat="server"></asp:dropdownlist>
<asp:requiredfieldvalidator id="RequiredFieldValidator4" runat="server" initialvalue="0" display="Dynamic" errormessage="Harap pilih Rekening Bank"
	controltovalidate="cmbBankAccount" CssClass ="validator_general"></asp:RequiredFieldValidator>