﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="UcBankName.ascx.vb"
    Inherits="Maxiloan.Webform.UserController.UcBankName" %>
<asp:DropDownList ID="cboBankName" runat="server">
</asp:DropDownList>
<asp:RequiredFieldValidator ID="RequiredFieldValidator4" runat="server" InitialValue="0"
    Display="Dynamic" ErrorMessage="Harap Pilih Bank" ControlToValidate="cboBankName" CssClass ="validator_general"></asp:RequiredFieldValidator>