﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ucBGNumber.ascx.vb" Inherits="Maxiloan.Webform.UserController.ucBGNumber" %>
<asp:DropDownList id="cmbBGNumber" runat="server"></asp:DropDownList>
<asp:requiredfieldvalidator id="RequiredFieldValidator4" runat="server" initialvalue="0" display="Dynamic" errormessage="Harap pilih No BG"
	controltovalidate="cmbBGNumber" CssClass ="validator_general"></asp:RequiredFieldValidator>