﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ucBranchHO.ascx.vb"
    Inherits="Maxiloan.Webform.UserController.ucBranchHO" %>
<%@ Register TagPrefix="uc1" TagName="ValidDate" Src="ValidDate.ascx" %>
<asp:DropDownList ID="cmbbranch" runat="server">
</asp:DropDownList>
<asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" ErrorMessage="Harap Pilih Cabang"
    Display="Dynamic" ControlToValidate="cmbbranch" InitialValue="0" CssClass ="validator_general"></asp:RequiredFieldValidator>
