﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="UcBranchCollection.ascx.vb"
    Inherits="Maxiloan.Webform.UserController.UcBranchCollection" %>
<asp:DropDownList ID="cmbBranchID" runat="server">
</asp:DropDownList>
<asp:RequiredFieldValidator ID="RequiredFieldValidator4" runat="server" InitialValue="0"
    Display="Dynamic" ErrorMessage="Harap pilih Collection Group" ControlToValidate="cmbBranchID" CssClass ="validator_general"></asp:RequiredFieldValidator>
