﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="UcBranch.ascx.vb" Inherits="Maxiloan.Webform.UserController.UcBranch" %>
<asp:DropDownList ID="cmbBranchID" runat="server">
</asp:DropDownList>
<asp:RequiredFieldValidator ID="RequiredFieldValidator4" runat="server" InitialValue="0"
    Display="Dynamic" ErrorMessage="Please Select Branch ID" ControlToValidate="cmbBranchID" CssClass ="validator_general"></asp:RequiredFieldValidator>
