﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="UcBranch2.ascx.vb" Inherits="Maxiloan.Webform.UserController.UcBranch2" %>
<asp:dropdownlist id="cmbBranchID" runat="server"></asp:dropdownlist>
<asp:requiredfieldvalidator id="RequiredFieldValidator4" runat="server" initialvalue="0" display="Dynamic" errormessage="Harap pilih Cabang"
	controltovalidate="cmbBranchID" CssClass ="validator_general"></asp:RequiredFieldValidator>
