﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ucCMO.ascx.vb" Inherits="Maxiloan.Webform.UserController.ucCMO" %>
<label class="label_req label_auto">
    CMO &nbsp;&nbsp;</label>
<asp:TextBox ID="txtLookup" runat="server" CssClass="long_text"></asp:TextBox>
<asp:HyperLink ID="hpLookup" runat="server" ImageUrl="../images/IconDetail.gif"></asp:HyperLink>
<asp:Label ID="lblPF" runat="server"></asp:Label>
<asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" ControlToValidate="txtLookup"
    ErrorMessage="Pilih CMO!" Display="Dynamic" CssClass="validator_general"></asp:RequiredFieldValidator>
<input type="hidden" id="hdn1" runat="server" name="hdn1" />
<input type="hidden" id="hdn2" runat="server" name="hdn2" />
