﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ucCoverageTypeApk.ascx.vb" Inherits="Maxiloan.Webform.UserController.ucCoverageTypeApk" %>
<asp:DropDownList runat ="server" ID="ddlCoverageTypeAPK"  >
</asp:DropDownList>