﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ucCoverageTypeRate.ascx.vb" Inherits="Maxiloan.Webform.UserController.ucCoverageTypeRate" %>
<asp:DropDownList runat ="server" ID="ddlCoverageTypeRate" Width="240px"  >
</asp:DropDownList>