﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="UcCollector.ascx.vb"
    Inherits="Maxiloan.Webform.UserController.UcCollector" %>
<asp:DropDownList ID="cboCollector"  runat="server">
</asp:DropDownList>
<input id="hdnCollectorID" type="hidden" name="hdnResult" runat="server">