﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="UcDeskCollTab.ascx.vb" Inherits="Maxiloan.Webform.UserController.UcDeskCollTab" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>
<div class="tab_container">
    <div id="tabDeskColl" runat="server">
        <asp:HyperLink ID="hypDeskColl" runat="server">CALL</asp:HyperLink></div>
    <div id="tabCollAct" runat="server">
        <asp:HyperLink ID="hypCollAct" runat="server">HISTORY KEGIATAN</asp:HyperLink></div>
    <div id="tabCollHis" runat="server">
        <asp:HyperLink ID="hypCollHis" runat="server">HISTORY COLLECTION</asp:HyperLink></div>
</div>
