﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ucFlagTransaksi.ascx.vb"
    Inherits="Maxiloan.Webform.UserController.ucFlagTransaksi" %>
<asp:DropDownList runat="server" ID="cboFlag">
    <asp:ListItem Value="n">None</asp:ListItem>
    <asp:ListItem Value="+" Text="(+) Plus">
    </asp:ListItem>
    <asp:ListItem Value="-" Text="(-) Minus">
    </asp:ListItem>
</asp:DropDownList>
