﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ucInsCoBranchFromCopyRate.ascx.vb" Inherits="Maxiloan.Webform.UserController.ucInsCoBranchFromCopyRate" %>
<asp:DropDownList id="cboInsCoBranch" runat="server"></asp:DropDownList>
<asp:RequiredFieldValidator id="RequiredFieldValidator1" runat="server" ErrorMessage="Harap pilih Cabang Perusahaan Asuransi"
	Display="Dynamic" ControlToValidate="cboInsCoBranch" CssClass ="validator_general"></asp:RequiredFieldValidator>