﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ucKategoriPerusahaan.ascx.vb" Inherits="Maxiloan.Webform.UserController.ucKategoriPerusahaan" %>
<asp:DropDownList ID="cboKategoriPerusahaan" runat="server">
    <asp:ListItem Value="K">Kecil</asp:ListItem>
    <asp:ListItem Value="M">Menengah</asp:ListItem>
    <asp:ListItem Value="B">Besar</asp:ListItem>
</asp:DropDownList>

