﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ucKondisiKantor.ascx.vb" Inherits="Maxiloan.Webform.UserController.ucKondisiKantor" %>
<asp:DropDownList ID="cboKondisiKantor" runat="server">
    <asp:ListItem Value="S">Sederhana</asp:ListItem>
    <asp:ListItem Value="M">Menengah</asp:ListItem>
    <asp:ListItem Value="L">Lux</asp:ListItem>
</asp:DropDownList>

