﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="UCLookupAgreement.ascx.vb"
    Inherits="Maxiloan.Webform.UserController.UCLookupAgreement" %>
<script language="javascript" type="text/javascript">
    function OpenAgreement(pAgreementNo, pApplicationID, pBranchAgreement, pStyle) {
        var AppInfo = '<%= Request.servervariables("PATH_INFO")%>';
        var App = AppInfo.substr(1, AppInfo.indexOf('/', 1) - 1)
        //        window.open('http://<%=Request.servervariables("SERVER_NAME")%>/' + App + '/General/LookUpAgreement.aspx?style=' + pStyle + '&agreementno=' + pAgreementNo + '&applicationid=' + pApplicationID + '&branchagreement=' + pBranchAgreement, 'AgreementLookup', 'left=50, top=10, width=900, height=600, menubar=0, scrollbars=yes');
        window.open('http://<%=Request.servervariables("SERVER_NAME")%>/' + App + '/Webform.UserController/LookUpAgreement.aspx?style=' + pStyle + '&agreementno=' + pAgreementNo + '&applicationid=' + pApplicationID + '&branchagreement=' + pBranchAgreement, 'AgreementLookup', 'left=50, top=10, width=' + x + ', height=' + y + ', menubar=0, scrollbars=yes');
    }
</script>
<asp:TextBox runat="server" ID="txtAgreementNo"></asp:TextBox>
<asp:HyperLink ID="hpLookup" runat="server" ImageUrl="../images/IconDetail.gif"></asp:HyperLink>
<input type="hidden" id="hdnApplicationID" runat="server" name="hdnApplicationID"
    class="inptype" />
<input type="hidden" id="hdnBranchAgreement" runat="server" name="hdnBracnhAgreement"
    class="inptype" />