﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="UCLookupInscoBranch.ascx.vb" Inherits="Maxiloan.Webform.UserController.UCLookupInscoBranch" %>
<script language="javascript" type="text/javascript" >
    function OpenWinInsBranch(pStyle, pMaskAssID, pInsuranceComBranchID, pBranchID, pBranchName, pInscoId) {
        var AppInfo = '<%= Request.servervariables("PATH_INFO")%>';
        var App = AppInfo.substr(1, AppInfo.indexOf('/', 1) - 1)
        window.open('http://<%=Request.servervariables("SERVER_NAME")%>/' + App + '/General/LookUpInscoBranch.aspx?style=' + pStyle + '&MaskAssID=' + pMaskAssID + '&InsuranceComBranchid=' + pInsuranceComBranchID + '&branchid=' + pBranchID + '&branchname=' + pBranchName + '&inscoid=' + pInscoId, 'UserLookup', 'left=50, top=10, width=900, height=600, menubar=0, scrollbars=yes');
    }
</script>
<table class="tablegrid" cellSpacing="0" cellPadding="0" align="left" border="0">
	<tr>
		<td class="tdganjil">
			<asp:textbox id="txtBranchFullName"  maxlength="5" runat="server" ReadOnly="True"></asp:textbox>&nbsp;
			<asp:hyperlink id="hpLookup" runat="server" imageurl="../images/IconDetail.gif"></asp:hyperlink>
			<input type="hidden" id="hdnBranchId" runat="server" name="hdnBranchID" class="inptype" />
			<input type="hidden" id="hdnBranchName" runat="server" name="hdnBranchID" class="inptype" />
			<input type="hidden" id="hdnMaskAssID" runat="server" name="hdnBranchID" class="inptype" />
			<input type="hidden" id="hdnInsuranceComBranchId" runat="server" name="hdnBranchID" class="inptype" />
		</td>
	</tr>
</table>
