﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="UcMasterNotary.ascx.vb"
    Inherits="Maxiloan.Webform.UserController.UcMasterNotary" %>
<asp:DropDownList ID="cboMasterNotary" runat="server">
</asp:DropDownList>
<asp:Button ID="Button1" runat="server" Text="Refresh" CssClass="small buttongo blue"></asp:Button>
<asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" ErrorMessage="Please Select Notary !"
    ControlToValidate="cboMasterNotary" Display ="Dynamic"  CssClass ="validator_general"></asp:RequiredFieldValidator>
