﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ucOtherBankAccount.ascx.vb"
    Inherits="Maxiloan.Webform.UserController.ucOtherBankAccount" %>
<%@ Register TagPrefix="uc1" TagName="ValidDate" Src="ValidDate.ascx" %>
<asp:DropDownList ID="cmbBank" runat="server">
</asp:DropDownList>