﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ucPaymentLocation.ascx.vb" Inherits="Maxiloan.Webform.UserController.ucPaymentLocation" %>
<asp:DropDownList id="cmbBranch" runat="server"></asp:DropDownList>