﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="UCReason.ascx.vb" Inherits="Maxiloan.Webform.UserController.UCReason" %>
<asp:DropDownList ID="cboReason" runat="server">
</asp:DropDownList>
<asp:RequiredFieldValidator ID="RequiredFieldValidator4" runat="server" ControlToValidate="cboReason"
    ErrorMessage="Please Select Reason" Display="Dynamic" InitialValue="0" CssClass ="validator_general"></asp:RequiredFieldValidator>