﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ucRSViewer.ascx.vb"
    Inherits="Maxiloan.Webform.UserController.ucRSViewer" %>
<%@ Register Assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
    Namespace="Microsoft.Reporting.WebForms" TagPrefix="rsweb" %>
 
  
<rsweb:ReportViewer ID="ReportViewer1" runat="server" AsyncRendering="False" SizeToReportContent="True" BorderStyle="None">
</rsweb:ReportViewer>
