﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="UcSearchByWithNoTable.ascx.vb"
    Inherits="Maxiloan.Webform.UserController.UcSearchByWithNoTable" %>
<asp:DropDownList ID="CmbSearchList" runat="server">
</asp:DropDownList>
<asp:TextBox ID="TxtSearch" runat="server" ></asp:TextBox>
