﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="UcSearchBy.ascx.vb" Inherits="Maxiloan.Webform.UserController.UcSearchBy" %>
<div class="form_box_usercontrol">
    <div class="form_left_usercontrol">
    <label>Cari Berdasarkan</label>
    <asp:dropdownlist id="cmbSearchList" runat="server"></asp:dropdownlist>
	<asp:textbox id="txtSearch" runat="server" ></asp:textbox>
    </div>
</div>
