﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ucText.ascx.vb" Inherits="Maxiloan.Webform.UserController.ucText" %>
<asp:textbox id="txtText" runat="server" ></asp:textbox>
<asp:RequiredFieldValidator id="rfvText" runat="server" errormessage="Harap isi Data ini" display="Dynamic" Enabled="True" Visible="True"
	controltovalidate="txtText" CssClass ="validator_general"></asp:RequiredFieldValidator>