﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ucTPLOption.ascx.vb"
    Inherits="Maxiloan.Webform.UserController.ucTPLOption" %>
<asp:DropDownList runat="server" ID="ddlTPLOption" AutoPostBack="true">
    <asp:ListItem Text="Yes" Value="1"></asp:ListItem>
    <asp:ListItem Text="No" Value="0"></asp:ListItem>
</asp:DropDownList>
