﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="UcViewEmployee.ascx.vb"
    Inherits="Maxiloan.Webform.UserController.UcViewEmployee" %>
<div class="form_box">
        <div class="form_left">
                <label>ID Karyawan</label>
                <asp:Label ID="lblEmployeeID" runat="server"></asp:Label>
        </div>
        <div class="form_right"></div>
</div>
<div class="form_box">
        <div class="form_left">
             <label>Karyawan</label> 
            <asp:Label ID="lblEmployeeName" runat="server"></asp:Label>
        </div>
        <div class="form_right"></div>
</div>