﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ucViewCustomerDetail.ascx.vb"
    Inherits="Maxiloan.Webform.UserController.ucViewCustomerDetail" %>
 
    
         <div class="form_box_usercontrol">
        <div class="form_left_usercontrol">
        <label>
            Nama Customer</label>        
        <asp:HyperLink ID="hyCustomerName" runat="server"></asp:HyperLink>
    </div>
   </div>
         <div class="form_box_usercontrol">
        <div class="form_left_usercontrol">
        <label class ="label_general">
            Alamat</label>
        <div class="label_alamat" >
            <asp:Label runat="server" ID="lblAlamat"></asp:Label></div>
    </div>
 </div>
         <div class="form_box_usercontrol">
        <div class="form_left_usercontrol">
        <label>
            Kota</label>
        <asp:Label runat="server" ID="lblKota"></asp:Label>
    </div>
  </div>
         <div class="form_box_usercontrol">
        <div class="form_left_usercontrol">
        <label>
            No. Telepon</label>
        <asp:Label runat="server" ID="lblNoTelp"></asp:Label>
    </div>
</div>
         <div class="form_box_usercontrol">
        <div class="form_left_usercontrol">
        <label>
            No. Handphone</label>
        <asp:Label runat="server" ID="lblNoHP"></asp:Label>
    </div>
  </div>
