﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="CustomerNProspectTabs.ascx.vb" Inherits="Maxiloan.Webform.LoanOrg.CustomerNProspectTabs" %>
<style>
.tab_selected, .tab_notselected 
{ width : 250px !important;
  margin-bottom: 0 !important;
    }
</style>
 <div class="tab_container">
        <div id="tabCustomer" runat="server">
            <asp:HyperLink ID="hyCustomer" runat="server" Text="DAFTAR KONSUMEN"></asp:HyperLink>
        </div>
        <div id="tabProspect" runat="server">
            <asp:HyperLink ID="hyProspect" runat="server" Text="KONSUMEN DARI PROSPEK"></asp:HyperLink>
        </div> 
</div>