﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="am_group_002.aspx.vb"
    Inherits="Maxiloan.Webform.AppMgt.am_group_002" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link rel="Stylesheet" href="../../Include/General.css" type="text/css" />
    <link rel="Stylesheet" href="../../Include/Buttons.css" type="text/css" />
    <script type ="text/javascript" language ="javascript" src ="../../tvCheck.js"></script>
	<script src="../../Maxiloan.js" type="text/javascript"></script>
    <script language="javascript" type="text/javascript">
        function fback() {
            history.back(-1);
            return false;
        }
        function click() {
            if (event.button == 2) {
                alert('You Are Not Authorize!');
            }
        }
        document.onmousedown = click
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <asp:Label ID="lblMessage" runat="server" Visible="false" ToolTip="Click to close" onclick="hideMessage();"></asp:Label>
    <div class="form_title">
        <div class="form_single">
            <h3>
                Group Menu</h3>
        </div>
    </div>
    <div class="form_box">
        <div class="form_single">
            <label>
                Group Id
            </label>
            <asp:Label ID="lblGroupId" runat="server"></asp:Label>
        </div>
    </div>
    <div class="form_box">
        <div class="form_single">
            <label>
                Application ID
            </label>
            <asp:Label ID="lblApplicationID" runat="server"></asp:Label>
        </div>
    </div>
    <div class="form_box">
        <div class="form_single">
            <asp:TreeView ID="TreeView1" runat="server" AutoGenerateDataBindings="False" ShowLines="True"
                ExpandDepth="1">
                <DataBindings>
                    <asp:TreeNodeBinding DataMember="MsMenu" SelectAction="None" Text="Root" Value="Root" />
                    <asp:TreeNodeBinding DataMember="MsMenuItem" ShowCheckBox="True" TargetField="checked"
                        TextField="prompt" ValueField="menuid" SelectAction="None" />
                </DataBindings>
            </asp:TreeView>
            <asp:XmlDataSource ID="XmlDataSource1" runat="server" EnableCaching="False"></asp:XmlDataSource>
        </div>
    </div>
    <div class="form_button">
        <asp:Button ID="btnSave" runat="server" Text="Save" CssClass="small button blue"
            CausesValidation="False"></asp:Button>
        <asp:Button ID="btnBack" runat="server" Text="Back" CssClass="small button gray"
            CausesValidation="False"></asp:Button>
    </div>
    </form>
</body>
</html>
