﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="CollectorZipCodeDetail.aspx.vb"
    Inherits="Maxiloan.Webform.ARMgt.CollectorZipCodeDetail" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>CollectorZipCodeDetail</title>
    <link rel="Stylesheet" href="../../Include/Buttons.css" type="text/css" />
    <link rel="Stylesheet" href="../../Include/General.css" type="text/css" />
    <script src="../../Maxiloan.js" type="text/javascript"></script>    
</head>
<body>
    <form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>    
            <asp:Label ID="lblMessage" runat="server" Visible="false"></asp:Label>
            <div class="form_title">
                <div class="title_strip">
                </div>
                <div class="form_single">
                    <h3>                                                
                        DAFTAR COLLECTOR
                    </h3>
                </div>
            </div>
            <asp:Panel ID="pnlGrid" runat="server">
                <div class="form_box_header">
                    <div class="form_single">              
                        <h4>
                            DAFTAR
                        </h4>
                    </div>
                </div>
                <div class="form_box_header">
                    <div class="form_single">
                        <div class="grid_wrapper_ns">
                            <asp:DataGrid ID="dtgPaging" runat="server" Width="100%" AllowSorting="True" AutoGenerateColumns="False"
                                OnSortCommand="Sorting" BorderStyle="None" BorderWidth="0" DataKeyField="CollectorID"
                                CssClass="grid_general">
                                <HeaderStyle CssClass="th" />
                                <ItemStyle CssClass="item_grid" />
                                <Columns>           
                                    <asp:TemplateColumn HeaderText="PILIH">
                                        <ItemTemplate>
                                            <asp:CheckBox runat="server" ID="Chek"/>
                                        </ItemTemplate>
                                    </asp:TemplateColumn>                                                                  
                                    <asp:BoundColumn DataField="CollectorID" SortExpression="CollectorID" HeaderText="COLLECTOR ID" ></asp:BoundColumn>
                                    <asp:BoundColumn DataField="CollectorName" SortExpression="CollectorName" HeaderText="COLLECTOR NAME" ></asp:BoundColumn>
                                    <asp:BoundColumn DataField="CollectorType" SortExpression="CollectorType" HeaderText="COLLECTOR TYPE" ></asp:BoundColumn>                                                                                                                                 
                                </Columns>
                            </asp:DataGrid>
                            <div class="button_gridnavigation">
                                <asp:ImageButton ID="imbFirstPage" runat="server" ImageUrl="../../Images/grid_navbutton01.png"
                                    CommandName="First" OnCommand="NavigationLink_Click" CausesValidation="False">
                                </asp:ImageButton>
                                <asp:ImageButton ID="imbPrevPage" runat="server" ImageUrl="../../Images/grid_navbutton02.png"
                                    CommandName="Prev" OnCommand="NavigationLink_Click" CausesValidation="False">
                                </asp:ImageButton>
                                <asp:ImageButton ID="imbNextPage" runat="server" ImageUrl="../../Images/grid_navbutton03.png"
                                    CommandName="Next" OnCommand="NavigationLink_Click" CausesValidation="False">
                                </asp:ImageButton>
                                <asp:ImageButton ID="imbLastPage" runat="server" ImageUrl="../../Images/grid_navbutton04.png"
                                    CommandName="Last" OnCommand="NavigationLink_Click" CausesValidation="False">
                                </asp:ImageButton>
                                <asp:TextBox ID="txtPage" runat="server">1</asp:TextBox>
                                <asp:Button ID="btnPageNumb" runat="server" Text="Go" CssClass="small buttongo blue"
                                    EnableViewState="False"></asp:Button>
                                <asp:RangeValidator ID="rgvGo" runat="server" ControlToValidate="txtPage" MinimumValue="1"
                                    ErrorMessage="No Halaman Salah" MaximumValue="999999999" Type="Integer" CssClass="validator_general"></asp:RangeValidator>
                                <asp:RequiredFieldValidator ID="rfvGo" runat="server" ControlToValidate="txtPage"
                                    ErrorMessage="No Halaman Salah" Display="Dynamic" CssClass="validator_general"></asp:RequiredFieldValidator>
                            </div>
                            <div class="label_gridnavigation">
                                <asp:Label ID="lblPage" runat="server"></asp:Label>of
                                <asp:Label ID="lblTotPage" runat="server"></asp:Label>, Total
                                <asp:Label ID="lblrecord" runat="server"></asp:Label>record(s)
                            </div>
                        </div>
                    </div>
                    <div class="form_button">
                        <asp:Button ID="ButtonSave" runat="server" CausesValidation="False" Text="Save" CssClass="small button blue"></asp:Button>
                        <asp:Button ID="ButtonCancel" runat="server" CausesValidation="False" Text="Cancel" CssClass="small button gray"></asp:Button>
                    </div>
                </div>     
                <asp:DropDownList ID="cboCollectorType" runat="server" Visible="false">
                </asp:DropDownList>                                        
            </asp:Panel>                                      
    </form>
</body>
</html>
