﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="CollDesk.aspx.vb"
    Inherits="Maxiloan.Webform.ARMgt.CollDesk" %>

<%@ Register TagPrefix="uc1" TagName="UcBranchCollection" Src="../../Webform.UserController/UcBranchCollection.ascx" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>CollDesk</title>
    <script src="../../Maxiloan.js" type="text/javascript"></script>
    <link rel="Stylesheet" href="../../Include/Buttons.css" type="text/css" />
    <link rel="Stylesheet" href="../../Include/General.css" type="text/css" />
    <script language="javascript" type="text/javascript">
        var x = screen.width;
        var y = screen.height - 100;

        function fConfirm() {
            if (window.confirm("Apakah yakin mau hapus data ini ? "))
                return true;
            else
                return false;
        }
        function fback() {
            history.go(-1);
            return false;
        }
    </script>
</head>
<body>
    <form id="form1" runat="server">
        <asp:Label ID="lblMessage" runat="server" Visible="false" ToolTip="Click to close" onclick="hideMessage();"></asp:Label>
        <div class="form_title">
            <div class="title_strip">
            </div>
            <div class="form_single">           
                <h3>
                    ALOKASI COLLECTOR DESKCOLL
                </h3>
            </div>
        </div>  
        <asp:Panel ID="PnlSearch" runat="server">
        <div class="form_box">
	        <div class="form_single">
                <label>Cabang</label>
                <uc1:UcBranchCollection id="UcCG" runat="server"></uc1:UcBranchCollection>	        
            </div>
        </div>
        <div class="form_button">
            <asp:Button ID="ButtonSearch" runat="server"  Text="Search" CssClass ="small button blue">
            </asp:Button>&nbsp;
            <asp:Button ID="ButtonReset" runat="server"  Text="Reset" CssClass ="small button gray">
            </asp:Button>
	    </div>             
        </asp:Panel>
        <asp:Panel  ID="PnlSearchDetail" runat="server">
        <div class="form_box_title">
            <div class="form_single">              
                <h4>
                    ALOKASI COLLECTOR DESKCOLL DEFAULT
                </h4>
            </div>
        </div>        
        <div class="form_box">
	        <div class="form_single">
                <label>Default DeskColl</label>
                <asp:DropDownList ID="cboDefaultCollector" runat="server" >
                </asp:DropDownList>
                <asp:Label ID="lblDefaultCollector" runat="server" ForeColor="Red" Visible="False">Please Select Default Collector</asp:Label>
	        </div>
        </div>
        <div class="form_box">
	        <div class="form_single">
                <label>Default Kriteria</label>
                <asp:DropDownList ID="cboCriteria" runat="server" >
                    <asp:ListItem Value="False">Semua Collector</asp:ListItem>
                    <asp:ListItem Value="True">Collector Belum Alokasi</asp:ListItem>
                </asp:DropDownList>
                &nbsp;of this page
	        </div>
        </div>       
        <div class="form_button">
            <asp:Button ID="ButtonApply" runat="server"  Text="Apply" CssClass ="small button blue">
            </asp:Button>
	    </div>      
        </asp:Panel>
        <asp:Panel  ID="pnlList"  runat="server">
        <div class="form_box_title">
            <div class="form_single">              
                <h4>
                    DAFTAR ALOKASI COLLECTOR DESKCOLL
                </h4>   
            </div>
        </div>
        <div class="form_box_header">
        <div class="form_single">
            <div class="grid_wrapper_ns">
                <asp:DataGrid ID="dtgColl" runat="server" Width="100%" CssClass="grid_general" BorderStyle="None" BorderWidth="0"
                        OnSortCommand="Sorting" AllowSorting="True" AutoGenerateColumns="False">
                        <HeaderStyle CssClass="th" />
                        <ItemStyle CssClass="item_grid" />
                        <Columns>                            
                            <asp:BoundColumn DataField="CollectorName" HeaderText="COLLECTOR"></asp:BoundColumn>
                            <asp:TemplateColumn HeaderText="DESKCOLL">                                
                                <ItemTemplate>
                                    <asp:DropDownList ID="cboDeskColl" runat="server">
                                    </asp:DropDownList>
                                </ItemTemplate>
                            </asp:TemplateColumn>
                            <asp:BoundColumn DataField="CollectorID" Visible="false"></asp:BoundColumn>
                            <asp:BoundColumn DataField="CGID" Visible="false"></asp:BoundColumn>
                        </Columns>
                </asp:DataGrid>        
                <div class="button_gridnavigation">
	                <asp:ImageButton ID="imbFirstPage" runat="server" ImageUrl="../../Images/grid_navbutton01.png"
		                CommandName="First" OnCommand="NavigationLink_Click" CausesValidation="False">
	                </asp:ImageButton>
	                <asp:ImageButton ID="imbPrevPage" runat="server" ImageUrl="../../Images/grid_navbutton02.png"
		                CommandName="Prev" OnCommand="NavigationLink_Click" CausesValidation="False">
	                </asp:ImageButton>
	                <asp:ImageButton ID="imbNextPage" runat="server" ImageUrl="../../Images/grid_navbutton03.png"
		                CommandName="Next" OnCommand="NavigationLink_Click" CausesValidation="False">
	                </asp:ImageButton>
	                <asp:ImageButton ID="imbLastPage" runat="server" ImageUrl="../../Images/grid_navbutton04.png"
		                CommandName="Last" OnCommand="NavigationLink_Click" CausesValidation="False">
	                </asp:ImageButton>
	                <asp:TextBox ID="txtPage" runat="server">1</asp:TextBox>
	                <asp:Button ID="btnPageNumb" runat="server" Text="Go" CssClass="small buttongo blue"
		                EnableViewState="False"></asp:Button>
	                <asp:RangeValidator ID="rgvGo" runat="server" ControlToValidate="txtPage"
				        MinimumValue="1" ErrorMessage="No Halaman Salah" MaximumValue="999999999" Type="Integer"
				        CssClass="validator_general"></asp:RangeValidator>
			        <asp:RequiredFieldValidator ID="rfvGo" runat="server" ControlToValidate="txtPage"
				        ErrorMessage="No Halaman Salah" Display="Dynamic" CssClass="validator_general">
			        </asp:RequiredFieldValidator>              
                </div>
                <div class="label_gridnavigation">
	                <asp:Label ID="lblPage" runat="server"></asp:Label>of
	                <asp:Label ID="lblTotPage" runat="server"></asp:Label>, Total
	                <asp:Label ID="lblrecord" runat="server"></asp:Label>record(s)
                </div>
            </div>     
        </div>      
        </div> 
        <div class="form_button">            
            <asp:Button ID="ButtonSave" runat="server"  Text="Save" CssClass ="small button blue"
                CausesValidation="False"></asp:Button>&nbsp;        
            <asp:Button ID="ButtonCancel" runat="server"  Text="Cancel" CssClass ="small button gray"
                CausesValidation="False"></asp:Button>&nbsp;                        
        </div>        
    </asp:Panel>
    </form>
</body>
</html>
