﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="LetterTemplate.aspx.vb"
    Inherits="Maxiloan.Webform.ARMgt.LetterTemplate" %>

<%@ Register TagPrefix="uc1" TagName="UcSearchBy" Src="../../Webform.UserController/UcSearchBy.ascx" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>LetterTemplate</title>
    <link rel="Stylesheet" href="../../Include/Buttons.css" type="text/css" />
    <link rel="Stylesheet" href="../../Include/General.css" type="text/css" />
    <script language="javascript" type="text/javascript">
        var x = screen.width;
        var y = screen.height - 100;

        var AppInfo = '<%= Request.servervariables("PATH_INFO")%>';
        var App = AppInfo.substr(1, AppInfo.indexOf('/', 1) - 1)
        var ServerName = 'http://<%=Request.servervariables("SERVER_NAME")%>/';

        function fConfirm() {
            if (window.confirm("Apakah yakin mau hapus data ini ? "))
                return true;
            else
                return false;
        }
        function fback() {
            history.go(-1);
            return false;
        }

        function OpenCollLetterFieldView(pStyle) {
            window.open(ServerName + App + '/Webform.ARMgt/Setting/CollLetterField.aspx?Style=' + pStyle, 'RECEIPTNOTES', 'left=0, top=0, width=' + x + ', height = ' + y + ', menubar=0,scrollbars=1');
        }
			
    </script>
</head>
<body>
    <form id="form1" runat="server">
        <asp:Label ID="lblMessage" runat="server" Visible="false" ToolTip="Click to close" onclick="hideMessage();"></asp:Label>
        <div class="form_title">
            <div class="title_strip">
            </div>
            <div class="form_single">           
                <h3>
                    DAFTAR TEMPLATE SURAT
                </h3>
            </div>
        </div>  
        <asp:Panel ID="pnlGrid" runat="server">
        <div class="form_box_header">
        <div class="form_single">
            <div class="grid_wrapper_ns">
                <asp:DataGrid ID="dtgLetterTemplate" runat="server" Width="100%"
                        OnSortCommand="Sorting" CssClass="grid_general" BorderStyle="None" BorderWidth="0"
                        DataKeyField="LetterId" AutoGenerateColumns="False" AllowSorting="True">
                        <HeaderStyle CssClass="th" />
                        <ItemStyle CssClass="item_grid" />
                        <Columns>
                            <asp:TemplateColumn HeaderText="EDIT">
                                <ItemStyle CssClass="command_col"></ItemStyle>
                                <ItemTemplate>
                                    <asp:ImageButton ID="imbEdit" runat="server" ImageUrl="../../Images/IconEdit.gif"
                                        CausesValidation="False" CommandName="Edit"></asp:ImageButton>
                                </ItemTemplate>
                            </asp:TemplateColumn>
                            <asp:TemplateColumn HeaderText="DELETE">
                                <ItemStyle CssClass="command_col"></ItemStyle>
                                <ItemTemplate>
                                    <asp:ImageButton ID="ImgbDelete" runat="server" ImageUrl="../../Images/IconDelete.gif"
                                        CausesValidation="False" CommandName="Delete"></asp:ImageButton>
                                </ItemTemplate>
                            </asp:TemplateColumn>
                            <asp:TemplateColumn SortExpression="LetterId" HeaderText="ID SURAT">                                
                                <ItemTemplate>
                                    <asp:Literal ID="ltlLetterId" runat="server" Visible="true" Text='<%#Container.DataItem("LetterId")%>'>
                                    </asp:Literal>
                                </ItemTemplate>
                            </asp:TemplateColumn>
                            <asp:TemplateColumn SortExpression="LetterName" HeaderText="NAMA SURAT">                                
                                <ItemTemplate>
                                    <asp:Literal ID="ltlLetterName" runat="server" Visible="true" Text='<%#Container.DataItem("LetterName")%>'>
                                    </asp:Literal>
                                    <asp:Literal ID="ltlTemplate" runat="server" Visible="false" Text='<%#Container.DataItem("Template")%>'>
                                    </asp:Literal>
                                </ItemTemplate>
                            </asp:TemplateColumn>
                        </Columns>                        
                </asp:DataGrid>        
                <div class="button_gridnavigation">
	                <asp:ImageButton ID="imbFirstPage" runat="server" ImageUrl="../../Images/grid_navbutton01.png"
		                CommandName="First" OnCommand="NavigationLink_Click" CausesValidation="False">
	                </asp:ImageButton>
	                <asp:ImageButton ID="imbPrevPage" runat="server" ImageUrl="../../Images/grid_navbutton02.png"
		                CommandName="Prev" OnCommand="NavigationLink_Click" CausesValidation="False">
	                </asp:ImageButton>
	                <asp:ImageButton ID="imbNextPage" runat="server" ImageUrl="../../Images/grid_navbutton03.png"
		                CommandName="Next" OnCommand="NavigationLink_Click" CausesValidation="False">
	                </asp:ImageButton>
	                <asp:ImageButton ID="imbLastPage" runat="server" ImageUrl="../../Images/grid_navbutton04.png"
		                CommandName="Last" OnCommand="NavigationLink_Click" CausesValidation="False">
	                </asp:ImageButton>
	                <asp:TextBox ID="txtPage" runat="server">1</asp:TextBox>
	                <asp:Button ID="btnPageNumb" runat="server" Text="Go" CssClass="small buttongo blue"
		                EnableViewState="False"></asp:Button>
	                <asp:RangeValidator ID="rgvGo" runat="server" ControlToValidate="txtPage"
				        MinimumValue="1" ErrorMessage="No Halaman Salah" MaximumValue="999999999" Type="Integer"
				        CssClass="validator_general"></asp:RangeValidator>
			        <asp:RequiredFieldValidator ID="rfvGo" runat="server" ControlToValidate="txtPage"
				        ErrorMessage="No Halaman Salah" Display="Dynamic" CssClass="validator_general">
			        </asp:RequiredFieldValidator>              
                </div>
                <div class="label_gridnavigation">
	                <asp:Label ID="lblPage" runat="server"></asp:Label>of
	                <asp:Label ID="lblTotPage" runat="server"></asp:Label>, Total
	                <asp:Label ID="lblrecord" runat="server"></asp:Label>record(s)
                </div>
            </div>
        </div>   
        </div>  
        <div class="form_button">
            <asp:Button ID="ButtonAddNew" runat="server"  Text="Add" CssClass ="small button blue">
            </asp:Button>
            <asp:Button ID="ButtonPrint" runat="server"  Text="Print" CssClass ="small button blue">
            </asp:Button>
	    </div>       
        </asp:Panel>
        <asp:Panel ID="pnlTop" runat="server">
        <div class="form_box_title">
            <div class="form_single">              
                <h4>
                    TEMPLATE SURAT
                </h4>
            </div>
        </div>
        <div class="form_box_uc">
                <uc1:UcSearchBy id="oSearchBy" runat="server"></uc1:UcSearchBy>	         
        </div>
        <div class="form_button">
            <asp:Button ID="Buttonsearch" runat="server"  Text="Search" CssClass ="small button blue"></asp:Button>&nbsp;
            <asp:Button ID="ButtonReset" runat="server"  Text="Reset" CssClass ="small button gray"
                CausesValidation="False"></asp:Button>
	    </div>
        </asp:Panel>
        <asp:Panel ID="pnlAddEdit" runat="server">
        <div class="form_box_title">
            <div class="form_single">              
                <h4>
                    <asp:Label ID="lblTitle" runat="server"></asp:Label>
                    &nbsp;- TEMPLATE SURAT
                </h4>
            </div>
        </div>
        <div class="form_box">
	        <div class="form_single">
                <label>ID Surat</label>
                <asp:TextBox ID="txtLetterId" runat="server"  MaxLength="10"></asp:TextBox>
                <asp:Literal ID="ltlLetterIDView" runat="server" Visible="false"></asp:Literal>
                <asp:RequiredFieldValidator ID="reqLetterId" runat="server" Display="Dynamic" ControlToValidate="txtLetterId" CssClass="validator_general"
                ErrorMessage="Harap isi ID surat"></asp:RequiredFieldValidator>
	        </div>
        </div>
        <div class="form_box">
	        <div class="form_single">
                <label>Nama Surat</label>
                <asp:TextBox ID="txtLetterName" runat="server"  Width="344px"></asp:TextBox>
	        </div>
        </div>
        <div class="form_box">
	        <div class="form_single">
                Gunakan Nama Field -&nbsp;
                <asp:HyperLink ID="viewLetter" runat="server">View Field template Surat</asp:HyperLink>
	        </div>
        </div>
        <div class="form_box">
	        <div class="form_single">
                <label class ="label_general">Template</label>
                <asp:TextBox ID="txtTemplate" runat="server" Width="680px" TextMode="MultiLine" CssClass="multiline_textbox"></asp:TextBox>
	        </div>
        </div>
        <div class="form_button">
            <asp:Button ID="ButtonSaveAdd" runat="server"  Text="Save" CssClass ="small button blue"
                CausesValidation="True"></asp:Button>&nbsp;
            <asp:Button ID="ButtonCancelAdd" runat="server"  Text="Cancel" CssClass ="small button gray"
                CausesValidation="False"></asp:Button>
	    </div>        
    </asp:Panel>
    </form>
</body>
</html>
