﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="InsCoAllocation.aspx.vb"
	Inherits="Maxiloan.Webform.Insurance.InsCoAllocation" %>

<%@ Register TagPrefix="uc1" TagName="UcBranchAll" Src="../webform.UserController/UcBranchAll.ascx" %>
<%@ Register TagPrefix="uc1" TagName="UcSearchByWithNoTable" Src="../webform.UserController/UcSearchByWithNoTable.ascx" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
	<title>InsCoAllocation</title>
	<link rel="Stylesheet" href="../Include/General.css" type="text/css" />
	<link href="../Include/Buttons.css" rel="stylesheet" type="text/css" />
	<script language="javascript" type="text/javascript">
		var AppInfo = '<%= Request.servervariables("PATH_INFO")%>';
		var App = AppInfo.substr(1, AppInfo.indexOf('/', 1) - 1);
		var ServerName = 'http://<%= Request.servervariables("SERVER_NAME")%>/';
	</script>
	<script src="../Maxiloan.js" type="text/javascript"></script>
</head>
<body>
	<form id="form1" runat="server">
	<asp:Label ID="LblErrMessages" runat="server"></asp:Label>
	<div class="form_title">
		<div class="title_strip">
		</div>
		<div class="form_single">
			<h3>
				DAFTAR KONTRAK UNTUK PEMILIHAN PERUSAHAAN ASURANSI</h3>
		</div>
	</div>
	<asp:Panel ID="PnlGrid" runat="server">
		<div class="form_box_header">
			<div class="form_single">
				<div class="grid_wrapper_ns">
					<asp:DataGrid ID="dtgPaging" runat="server" AllowSorting="True" AutoGenerateColumns="False"
						OnSortCommand="Sorting" DataKeyField="Applicationid" BorderStyle="None" BorderWidth="0"
						CssClass="grid_general">
						<HeaderStyle CssClass="th" />
						<ItemStyle CssClass="item_grid" />
						<Columns>
							<asp:TemplateColumn HeaderText="ASURANSI">
								<ItemTemplate>
									<asp:Label ID="LblHyperLinkSelect" runat="server">
									<a href='InsCoAllocationDetailList.aspx?AgreementNo=<%# DataBinder.Eval(Container, "DataItem.AgreementNo") %>&ApplicationId=<%# DataBinder.Eval(Container, "DataItem.ApplicationId") %>&BranchId=<%# DataBinder.Eval(Container, "DataItem.BranchId") %>'>
									SELECT</a>
									</asp:Label>
								</ItemTemplate>
							</asp:TemplateColumn>
							<asp:TemplateColumn SortExpression="AgreementNo" HeaderText="NO KONTRAK">
								<HeaderStyle HorizontalAlign="Center" Width="12%"></HeaderStyle>
								<ItemStyle HorizontalAlign="Left" Width="12%"></ItemStyle>
								<ItemTemplate>
									<asp:HyperLink ID="hyAgreementNo" runat="server" Text='<%#Container.DataItem("AgreementNo")%>'>
									</asp:HyperLink>
								</ItemTemplate>
							</asp:TemplateColumn>
							<asp:TemplateColumn SortExpression="customername" HeaderText="NAMA CUSTOMER">
								<HeaderStyle HorizontalAlign="Center" Width="18%"></HeaderStyle>
								<ItemStyle HorizontalAlign="Left" Width="18%"></ItemStyle>
								<ItemTemplate>
									<asp:HyperLink ID="hyCustomerName" runat="server" Text='<%#Container.DataItem("customername")%>'>
									</asp:HyperLink>
								</ItemTemplate>
							</asp:TemplateColumn>
							<asp:BoundColumn DataField="InsuredDescrBy" SortExpression="InsuredDescrBy" HeaderText="ASURANSI OLEH">
							</asp:BoundColumn>
							<asp:BoundColumn DataField="InsurancePaidDEscrBy" SortExpression="InsurancePaidDEscrBy"
								HeaderText="BAYAR OLEH"></asp:BoundColumn>
							<asp:BoundColumn DataField="GoLiveDate" SortExpression="GoLiveDate" HeaderText="TGL LOAN ACT"
								DataFormatString="{0:dd/MM/yyyy}"></asp:BoundColumn>
							<asp:TemplateColumn Visible="False" HeaderText="CUSTOMER ID">
								<HeaderStyle HorizontalAlign="Center" Width="25%"></HeaderStyle>
								<ItemStyle HorizontalAlign="Center" Width="8%"></ItemStyle>
								<ItemTemplate>
									<asp:Label ID="lblCustomerId" runat="server" Text='<%#Container.DataItem("CustomerId")%>'>
									</asp:Label>
								</ItemTemplate>
							</asp:TemplateColumn>
							<asp:TemplateColumn Visible="False" HeaderText="APPLICATION ID">
								<HeaderStyle HorizontalAlign="Center" Width="25%"></HeaderStyle>
								<ItemStyle HorizontalAlign="Center" Width="8%"></ItemStyle>
								<ItemTemplate>
									<asp:Label ID="lblApplicationId" runat="server" Text='<%#Container.DataItem("ApplicationId")%>'>
									</asp:Label>
								</ItemTemplate>
							</asp:TemplateColumn>
						</Columns>
					</asp:DataGrid>
					<div class="button_gridnavigation">
						<asp:ImageButton ID="imbFirstPage" runat="server" ImageUrl="../Images/grid_navbutton01.png"
							CausesValidation="False" OnCommand="NavigationLink_Click" CommandName="First">
						</asp:ImageButton>
						<asp:ImageButton ID="imbPrevPage" runat="server" ImageUrl="../Images/grid_navbutton02.png"
							CausesValidation="False" OnCommand="NavigationLink_Click" CommandName="Prev">
						</asp:ImageButton>
						<asp:ImageButton ID="imbNextPage" runat="server" ImageUrl="../Images/grid_navbutton03.png"
							CausesValidation="False" OnCommand="NavigationLink_Click" CommandName="Next">
						</asp:ImageButton>
						<asp:ImageButton ID="imbLastPage" runat="server" ImageUrl="../Images/grid_navbutton04.png"
							CausesValidation="False" OnCommand="NavigationLink_Click" CommandName="Last">
						</asp:ImageButton>
						Page&nbsp;
						<asp:TextBox ID="txtPage" runat="server"  Width="34px">1</asp:TextBox>
						<asp:Button ID="BtnGoPage" runat="server" Text="Go" CssClass="small buttongo blue"
							EnableViewState="False"></asp:Button>
						<asp:RangeValidator ID="rgvGo" runat="server"  CssClass="validator_general"  Type="Integer" MaximumValue="999999999" ErrorMessage="No Halaman Salah"
							MinimumValue="1" ControlToValidate="txtPage"></asp:RangeValidator>
						<asp:RequiredFieldValidator ID="rfvGo" runat="server"  CssClass="validator_general"  ErrorMessage="No Halaman Salah" ControlToValidate="txtPage"
							Display="Dynamic"></asp:RequiredFieldValidator>
					</div>
					<div class="label_gridnavigation">
						<asp:Label ID="lblPage" runat="server"></asp:Label>&nbsp;of
						<asp:Label ID="lblTotPage" runat="server"></asp:Label>, Total&nbsp;
						<asp:Label ID="lblRecord" runat="server"></asp:Label>&nbsp;record(s)
					</div>
				</div>
			</div>
		</div>
	</asp:Panel>
	<div class="form_title">
		<div class="form_single">
			<h4>
				CARI PERUSAHAAN ASURANSI</h4>
		</div>
	</div>
	<div class="form_box">
		<div class="form_single">
			<label>
				Cabang
			</label>
			<uc1:ucbranchall id="oBranch" runat="server">
				</uc1:ucbranchall>
			<uc1:ucsearchbywithnotable id="oSearchBy" runat="server">
				</uc1:ucsearchbywithnotable>
		</div>
	</div>
	<div class="form_button">
		<asp:Button ID="btnSearch" runat="server" Text="Find" CssClass="small button blue">
		</asp:Button>
		<asp:Button ID="btnReset" CausesValidation="False" runat="server" Text="Reset" CssClass="small button gray">
		</asp:Button>
	</div>
	</form>
</body>
</html>
