﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="InqEndPastDueDays.aspx.vb" Inherits="Maxiloan.Webform.ARMgt.InqEndPastDueDays" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>
<%@ Register TagPrefix="uc1" TagName="ucbranchall" Src="../../Webform.UserController/UcBranch.ascx" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
     <title>InqEndPastDueDyas</title>
     <script src="../../Maxiloan.js" type="text/javascript"></script>
    <link rel="Stylesheet" href="../../Include/Buttons.css" type="text/css" />
    <link rel="Stylesheet" href="../../Include/General.css" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server"> 
    </asp:ScriptManager>
         <asp:Label ID="lblMessage" runat="server" Visible="false" ToolTip="Click to close" onclick="hideMessage();"></asp:Label>
          <div class="form_title">    
            <div class="title_strip">
            </div>
            <div class="form_single">           
                <h3>
                    INQUIRY DEBITUR LEBIH DARI 10 HARI AGING
                </h3>
            </div>
        </div>  
        <asp:Panel ID="PnlSearch" runat="server" >
          <div class="form_box">
	         <div class="form_single">
                <label class="label_req"> Cabang </label> 
                 <%--<uc1:ucbranchall id="oBranch" runat="server"></uc1:ucbranchall>--%>
                 <asp:DropDownList ID="drdBranch" runat="server"></asp:DropDownList> 
                <%--<asp:Label ID="lblBranch" runat="server" Visible="False"></asp:Label>--%>
                <asp:RequiredFieldValidator ID="rfvCG" runat="server" ErrorMessage="Harap pilih Cabang"  Display="Dynamic" ControlToValidate="drdBranch" CssClass="validator_general" />
            </div>
        </div> 

        <div class="form_button">
            <asp:Button ID="ButtonSearch" runat="server"  Text="Search" CssClass ="small button blue"
                Enabled="True"></asp:Button>&nbsp;
            <asp:Button ID="ButtonReset" runat="server"  Text="Reset" CssClass ="small button gray"
                Enabled="True" CausesValidation="False"></asp:Button>
	    </div>  

        </asp:Panel>

          <!--this panel to view search detail, berdasarkan Nomor Aplikasi-->
        <asp:Panel ID="PnlSearchDetail" runat="server"> 
            <div class="form_box_title">
	        <div class="form_single">
                <label> Cabang </label>
                <asp:Label ID="lblBranch" runat="server" Width="435px"></asp:Label>
	        </div>
        </div>
        <div class="form_box">
	        <div class="form_single">
                <label>Cari Berdasarkan</label>
                <asp:DropDownList ID="cboSearchBy" runat="server" Width="109px" >
                    <asp:ListItem Value="0">Select All</asp:ListItem>
                    <asp:ListItem Value="CollectionAgreement.ApplicationID">No Kontrak</asp:ListItem>
                </asp:DropDownList>
                <asp:TextBox ID="txtSearchByValue" runat="server" ></asp:TextBox>
	        </div>
        </div> 
        <div class="form_button">
            <asp:Button ID="ButtonSearchDetail" runat="server"  Text="Search" CssClass ="small button blue"
                CausesValidation="False"></asp:Button>&nbsp;
            <asp:Button ID="ButtonResetDetail" runat="server"  Text="Reset" CssClass ="small button gray"
                CausesValidation="False"></asp:Button>
	    </div>        
        </asp:Panel>
        <asp:Panel ID="pnlList" runat="server">
        <div class="form_box_title">
            <div class="form_single">              
                <h4>
                    DAFTAR KONTRAK AGING LEBIH DARI 10 HARI
                </h4>
            </div>
        </div>        
        <div class="form_box_header">
        <div class="form_single">
            <div class="grid_wrapper_ns">
                <asp:DataGrid ID="dtgInqEndPastDueDays" runat="server" Width="100%"
                        CssClass="grid_general" BorderStyle="None" BorderWidth="0" OnSortCommand="Sorting" AllowSorting="True" AutoGenerateColumns="False">
                        <HeaderStyle CssClass="th" />
                        <ItemStyle CssClass="item_grid" />
                        <Columns>
                            <asp:TemplateColumn SortExpression="ApplicationId" HeaderText="NO APLIKASI">
                                    <ItemTemplate>
                                        <asp:HyperLink ID="lblApplicationid" runat="server" Text='<%#Container.DataItem("Applicationid")%>'> </asp:HyperLink>
                                    </ItemTemplate>
                                </asp:TemplateColumn>
                            <%--<asp:BoundColumn DataField="ApplicationID" SortExpression="ApplicationID" HeaderText="Nomor Aplikasi">                                
                            </asp:BoundColumn>--%>
                            <asp:TemplateColumn SortExpression="AgreementNo" HeaderText="NO KONTRAK">
                                    <ItemTemplate>
                                        <asp:HyperLink ID="lblAgreementNo" runat="server" Text='<%#Container.DataItem("AgreementNo")%>'> </asp:HyperLink>
                                    </ItemTemplate>
                                </asp:TemplateColumn>
                            <%--<asp:BoundColumn DataField="AgreementNo" SortExpression="AgreementNo" HeaderText="Nomor Kontrak">                                
                            </asp:BoundColumn>--%>
                            <asp:BoundColumn DataField="CollectorId" SortExpression="CollectorId" HeaderText="Nomor Collector">                                
                            </asp:BoundColumn> 
                            <asp:BoundColumn DataField="CollectorName" SortExpression="CollectorName" HeaderText="Nama Collector">                                
                            </asp:BoundColumn> 
                            <asp:BoundColumn DataField="EndPastDueDays" SortExpression="EndPastDueDays" HeaderText="Days">                                
                            </asp:BoundColumn> 
                        </Columns>
                </asp:DataGrid>
                <div class="button_gridnavigation">
	                <asp:ImageButton ID="imbFirstPage" runat="server" ImageUrl="../../Images/grid_navbutton01.png"
		                CommandName="First" OnCommand="NavigationLink_Click" CausesValidation="False">
	                </asp:ImageButton>
	                <asp:ImageButton ID="imbPrevPage" runat="server" ImageUrl="../../Images/grid_navbutton02.png"
		                CommandName="Prev" OnCommand="NavigationLink_Click" CausesValidation="False">
	                </asp:ImageButton>
	                <asp:ImageButton ID="imbNextPage" runat="server" ImageUrl="../../Images/grid_navbutton03.png"
		                CommandName="Next" OnCommand="NavigationLink_Click" CausesValidation="False">
	                </asp:ImageButton>
	                <asp:ImageButton ID="imbLastPage" runat="server" ImageUrl="../../Images/grid_navbutton04.png"
		                CommandName="Last" OnCommand="NavigationLink_Click" CausesValidation="False">
	                </asp:ImageButton>
	                <asp:TextBox ID="txtPage" runat="server">1</asp:TextBox>
	                <asp:Button ID="btnPageNumb" runat="server" Text="Go" CssClass="small buttongo blue"
		                EnableViewState="False"></asp:Button>
	                <asp:RangeValidator ID="rgvGo" runat="server" ControlToValidate="txtPage"
				        MinimumValue="1" ErrorMessage="No Halaman Salah" MaximumValue="999999999" Type="Integer"
				        CssClass="validator_general"></asp:RangeValidator>
			        <asp:RequiredFieldValidator ID="rfvGo" runat="server" ControlToValidate="txtPage"
				        ErrorMessage="No Halaman Salah" Display="Dynamic" CssClass="validator_general">
			        </asp:RequiredFieldValidator>              
                </div>
                <div class="label_gridnavigation">
	                <asp:Label ID="lblPage" runat="server"></asp:Label>of
	                <asp:Label ID="lblTotPage" runat="server"></asp:Label>, Total
	                <asp:Label ID="lblrecord" runat="server"></asp:Label>record(s)
                </div>
            </div>   
        </div>     
        </div>    
        <div class="form_button">
            <asp:Button ID="ButtonBack" runat="server"  Text="Back" CssClass ="small button gray"
            CausesValidation="False"></asp:Button>
	    </div>               
    </asp:Panel>

    </form>
</body>
</html>