﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ucUserLookup.ascx.vb"
    Inherits="Maxiloan.Webform.AppMgt.ucUserLookup" %>
<script language="javascript" type="text/javascript">
    function OpenWinEmployee(ClientID, ClientID2) {
        var AppInfo = '<%= Request.servervariables("PATH_INFO")%>';
        var App = AppInfo.substr(1, AppInfo.indexOf('/', 1) - 1);

        //window.open('http://<%=Request.servervariables("SERVER_NAME")%>/' + App + '/webform.AppMgt/Users/Lookup/am_user_lookup.aspx?clientid=' + ClientID + '&clientid2=' + ClientID2, 'UserLookup', 'left=50, top=10, width=600, height=480, menubar=0, scrollbars=yes');

        window.open('Lookup/am_user_lookup.aspx?clientid=' + ClientID + '&clientid2=' + ClientID2, 'UserLookup', 'left=50, top=10, width=600, height=480, menubar=0, scrollbars=yes');
    }
    function click() {
        if (event.button == 2) {
            alert('You Are Not Authorize!');
        }
    }
    document.onmousedown = click
</script>
<input type="hidden" runat="server" name="hdnEmployeeID" id="hdnEmployeeID" size="11"
    style="width: 98px; height: 22px" />
<input type="hidden" runat="server" name="hdnEmployeeName" id="hdnEmployeeName" size="11"
    style="width: 98px; height: 22px" />
<asp:TextBox ID="txtEmployeeName" runat="server" ></asp:TextBox>
<asp:HyperLink ID="hpLookup" runat="server" ImageUrl="../../../images/IconDetail.gif"
    NavigateUrl="javascript:OpenWinEmployee();"></asp:HyperLink>