﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="UcListBoxGetter.ascx.vb" Inherits="Maxiloan.Webform.UserController.UcListBoxGetter" %>

<asp:DropDownList ID="cboList" runat="server" CssClass="select"></asp:DropDownList>