﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="am_header.aspx.vb" Inherits="Maxiloan.Webform.am_header" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    
    
	<!-- /theme JS files -->
   <%-- <link rel="Stylesheet" href="Include/Header.css" type="text/css" />
    <link rel="Stylesheet" href="Include/Buttons.css" type="text/css" />--%>
</head>
<body>
    <form id="form1" runat="server">

     
    </form>
</body>
</html>
