﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="error_notauthorized.aspx.vb" Inherits="Maxiloan.Webform.error_notauthorized" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link rel="Stylesheet" href="Include/General.css" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <asp:Label runat="server" ID="lblMessage"></asp:Label>        
    </form>
</body>
</html>
