﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="am_feature.aspx.vb" Inherits="Maxiloan.Webform.AppMgt.am_feature" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link rel="Stylesheet" href="../../Include/General.css" type="text/css" />
    <link rel="Stylesheet" href="../../Include/Buttons.css" type="text/css" />
	<script src="../../Maxiloan.js" type="text/javascript"></script>
    <script language="javascript" type="text/javascript">
        function fback() {
            history.back(-1);
        }
        function click() {
            if (event.button == 2) {
                alert('You Are Not Authorize!');
            }
        }
        document.onmousedown = click
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <asp:Label ID="lblMessage" runat="server" Visible="false" ToolTip="Click to close" onclick="hideMessage();"></asp:Label>
    <div class="form_title">
        <div class="form_single">
            
            <h3>
                Feature User</h3>
        </div>
    </div>
    <asp:Panel ID="pnlList" runat="server">
        <asp:Panel ID="pnlgrid" runat="server">
            <div class="form_title">
                <div class="form_single">
                    <h4>
                        List Of Form
                    </h4>
                </div>
            </div>
            <div class="form_box_header">
                <div class="form_single">
                    <div class="grid_wrapper_ns">
                        <asp:DataGrid ID="DtgForm" runat="server" DataKeyField="FormId" OnSortCommand="SortGrid"
                            CssClass="grid_general" AutoGenerateColumns="False" AllowSorting="True" AllowPaging="False">
                            <HeaderStyle CssClass="th" />
                            <ItemStyle CssClass="item_grid" />
                            <Columns>
                                <asp:TemplateColumn SortExpression="formid" HeaderText="FORM ID">
                                    <HeaderStyle></HeaderStyle>
                                    <ItemStyle Width="30%"></ItemStyle>
                                    <ItemTemplate>
                                        <asp:Label ID="lblFormId" runat="server" Text='<%#Container.DataItem("FormId")%>'>
                                        </asp:Label>
                                    </ItemTemplate>
                                </asp:TemplateColumn>
                                <asp:TemplateColumn SortExpression="formname" HeaderText="FORM NAME">
                                    <HeaderStyle></HeaderStyle>
                                    <ItemStyle Width="50%"></ItemStyle>
                                    <ItemTemplate>
                                        <asp:Label ID="lnkFormName" runat="server" Text='<%#Container.DataItem("FormName")%>'>
                                        </asp:Label>
                                    </ItemTemplate>
                                </asp:TemplateColumn>
                                <asp:TemplateColumn HeaderText="FEATURE">
                                    <HeaderStyle></HeaderStyle>
                                    <ItemStyle Width="20%"></ItemStyle>
                                    <ItemTemplate>
                                        <asp:HyperLink ID="hypFeature" runat="server" ImageUrl="../../Images/IconReceived.gif"></asp:HyperLink>
                                    </ItemTemplate>
                                </asp:TemplateColumn>
                            </Columns>
                            <PagerStyle Visible="False" HorizontalAlign="Left" ForeColor="#000066" BackColor="White"
                                Mode="NumericPages"></PagerStyle>
                        </asp:DataGrid>
                        <div class="button_gridnavigation">
                            <asp:ImageButton ID="imbFirstPage" runat="server" CausesValidation="False" OnCommand="NavigationLink_Click"
                                CommandName="First" ImageUrl="../../Images/grid_navbutton01.png"></asp:ImageButton>
                            <asp:ImageButton ID="imbPrevPage" runat="server" CausesValidation="False" OnCommand="NavigationLink_Click"
                                CommandName="Prev" ImageUrl="../../Images/grid_navbutton02.png"></asp:ImageButton>
                            <asp:ImageButton ID="imbNextPage" runat="server" CausesValidation="False" OnCommand="NavigationLink_Click"
                                CommandName="Next" ImageUrl="../../Images/grid_navbutton03.png"></asp:ImageButton>
                            <asp:ImageButton ID="imbLastPage" runat="server" CausesValidation="False" OnCommand="NavigationLink_Click"
                                CommandName="Last" ImageUrl="../../Images/grid_navbutton04.png"></asp:ImageButton>
                            Page
                            <asp:TextBox ID="txtPage" runat="server">1</asp:TextBox>
                            <asp:Button ID="btnGoPage" runat="server" Text="Go" CssClass="small buttongo blue"
                                EnableViewState="False"></asp:Button>
                            <asp:RangeValidator ID="rgvGo" runat="server" Type="Integer" MaximumValue="999999999"
                                ErrorMessage="Halaman tidak valid!" MinimumValue="1" CssClass="validator_general" ControlToValidate="txtPage"></asp:RangeValidator>
                            <asp:RequiredFieldValidator ID="rfvGo" runat="server" ErrorMessage="Halaman tidak valid!"
                                ControlToValidate="txtPage" Display="Dynamic" CssClass="validator_general"></asp:RequiredFieldValidator>
                        </div>
                        <div class="label_gridnavigation">
                            <asp:Label ID="lblPage" runat="server"></asp:Label>of
                            <asp:Label ID="lblTotPage" runat="server"></asp:Label>, Total
                            <asp:Label ID="lblRecord" runat="server"></asp:Label>record(s)
                        </div>
                </div>
            </div>
            </div>
            <div class="form_button">
                <asp:Button ID="btnAddNew" runat="server" CausesValidation="False" Text="Add" CssClass="small button blue">
                </asp:Button>
            </div>
        </asp:Panel>
        <div class="form_title">
            <div class="form_single">
                <h4>
                    Feature List
                </h4>
            </div>
        </div>
        <div class="form_box">
            <div class="form_single">
                <label>
                    Login ID
                </label>
                <asp:Label ID="lblLoginid" runat="server"></asp:Label>
            </div>
        </div>
        <div class="form_box">
            <div class="form_single">
                <label class ="label_req">
                    Application ID
                </label>
                <asp:DropDownList ID="cmbApplicationID" runat="server">
                </asp:DropDownList>
                <asp:RequiredFieldValidator ID="Requiredfieldvalidator5" runat="server" ErrorMessage="Please Select Application ID"
                    ControlToValidate="cmbApplicationId" InitialValue="0" Display="Dynamic" CssClass="validator_general"></asp:RequiredFieldValidator>
            </div>
        </div>
        <div class="form_box">
            <div class="form_single">
                <label>
                    Form ID
                </label>
                <asp:TextBox ID="txtFormID_src" runat="server" MaxLength="20"></asp:TextBox>
            </div>
        </div>
        <div class="form_box">
            <div class="form_single">
                <label>
                    Form Name
                </label>
                <asp:TextBox ID="txtFormName_src" runat="server" MaxLength="50"></asp:TextBox>
            </div>
        </div>
        <div class="form_button">
            <asp:Button ID="btnsearch" runat="server" Text="Search" CssClass="small button blue">
            </asp:Button></div>
    </asp:Panel>
    </form>
</body>
</html>
