﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="BonHijauFundingDisbViewer.aspx.vb" Inherits="Maxiloan.Webform.FundMgt.BonHijauFundingDisbViewer" %>

<%@ Register Assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"
    Namespace="CrystalDecisions.Web" TagPrefix="CR" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <CR:CrystalReportViewer ID="CrystalReportViewer" runat="server" Width="350px" Height="50px" />
    </div>
    </form>
</body>
</html>
