﻿body
{
    margin: 0;
    background-color: #cccccc;
    font-family: Segoe UI, Arial, Sans-Serif;
    font-size: 10pt;
}

h3
{
    font-size: 13pt;
    margin: 0;
}

h4
{
    font-size: 10pt;
    margin: 0;
    color: #333333;
}

h5
{
    font-size: 9pt;
    margin: 0;
}

a
{
    text-decoration: none;
    color: #00B0D8;
}

a:visited
{
    color: #00B0D8;
}

form_netral
{
    border: 1.5pt solid #c1c1c1;
    padding-top: 2%;
    width: 90%;
    background-color: #cccccc;
    top: 1%;
    left: 5%;
    min-height: 90%;
}

form, .form_container
{
     /*
    width: 90%;
    left: 5%;
    */
    position: absolute;
    border: 1.5pt solid #c1c1c1;    
    background-color: #ffffff;
    top: 4%;    
    min-height: 90%;
}

.form_title, .form_title_tab
{
    float: left;
    display: block;
    width: 98%;
    border: 1px solid #e5e5e5;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
}

.form_title
{
    padding-bottom: 6px;
    background-color: #f9f9f9;
}

.title_strip
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: #F9F9F9 url('../Images/title_strip00.png') no-repeat;
    height: 5px;
    background-size: 100%;
}

.form_title_tab
{
    margin-top: 2%;
}

.form_box, .form_box_header, .form_box_title
{
    float: left;
    display: block;
    width: 98%;
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    margin-left: 1%;
    margin-right: 1%;
}

.form_box_header
{
    background-color: #f9f9f9;
}

.form_box_header_l
{
    float: left;
    display: block;
    width: 49.2%;
    background-color: #f9f9f9;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    border-right: 1px solid #e5e5e5;
}

.form_box_header_r
{
    float: left;
    display: block;
    width: 48.3%;
    background-color: #f9f9f9;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
}

.form_box_title
{
    margin-top: 1%;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}


.form_single
{
    text-align: left;
    width: 98%;
    float: left;
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;    
}

.form_left, .form_right
{
    text-align: left;
    width: 48%;
    float: left;
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.form_right
{
    text-align: left;
    width: 47%;
    display: block;
    border-left: 1px solid #e5e5e5;
}

.box_important
{
    background-color: #feff51;
    border: 1px solid #d6d600;
}

.form_left_header, .form_right_header
{
    text-align: left;
    width: 48%;
    float: left;
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 1%;
    padding-right: 1%;
    min-height: 120px;
    background-color: #f9f9f9;
}

.form_right_header
{
    width: 47%;
    border-left: 1px solid #e5e5e5;
}


.error_message
{
    width: 96%;
    display: inline-block;
    padding: 1%;
    padding: 10px;
    color: #fff;
    background-color: #c10000;
    margin-left: 1%;
    margin-right: 1%;
}

.success_message
{
    width: 96%;
    display: inline-block;
    padding: 1%;
    color: #fff;
    background-color: #01B200;
    margin-left: 1%;
    margin-right: 1%;
}

/*
.success_message
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background-color: #01B200;
    padding: 1%;
    }*/

label
{
    width: 230px;
    display: inline-block;
}

.label
{
    width: 200px;
    display: inline-block;
}

.label_general
{
    width: 230px;
    float: left;
    padding-top: 3px;
    padding-bottom: 3px;
    display: inline-block;
}

.label_auto
{
    width: auto;
    display: inline-block;
}

.checkbox_general label
{
    width: auto;
}


.label_alamat
{
    width: 220px;
    display: inline-block;
    float: left;
    padding-left: 3px;
}

.label_notes
{
    padding-bottom: 5px;
}

.label_medium
{
    width: 30%;
    display: inline-block;
}

.small_text
{
    width: 70px;
}

.medium_text
{
    width: 200px;
}

.long_text
{
    width: 30%;
}

.opt_yesno
{
    width: 20%;
    display: inline-block;
}

.opt_single label
{
    width: auto;
}

#DataGrid
{
    border: 1px solid #e5e5e5;
}

.multiline_textbox
{
    width: 100%;
    height: 50px;
    font-family: Segoe UI, Arial, Sans-Serif;
    font-size: 10pt;
}

.multiline_textbox_uc
{
    width: 45%;
    height: 50px;
    font-family: Segoe UI, Arial, Sans-Serif;
    font-size: 10pt;
}

.drop_down
{
    width: 100%;
}


.form_button
{
    float: left;
    display: block;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form_box_uc
{
    float: left;
    display: block;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

.form_left_uc
{
    text-align: left;
    width: 50%;
    float: left;
    display: block; /*border-left: 1px solid green;   */
}

.form_right_uc
{
    text-align: left;
    width: 49.5%;
    display: block;
    float: right;
    border-left: 1px solid #e5e5e5; /*border-right: 1px solid yellow;   */
}

.form_box_usercontrol
{
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    display: block;
    float: left; /*padding-top: 3px;     padding-bottom: 3px;     padding-left: 10px;    */
}

.form_box_usercontrol_header
{
    background-color:#f9f9f9; 
}

.form_left_usercontrol
{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}


.form_box_left_usercontrol
{
    float: left;
    display: block;
    width: 48%;
    background-color: #ffffff;
    margin-left: 2%;
    margin-top: 10px;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}


.form_box_right_usercontrol
{
    float: left;
    display: block;
    width: 47%;
    border-top: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    margin-top: 10px;
}

.label_split
{
    width: 200px;
    display: block;
    float: left;
    margin-right: 5px;
}

.form_box_right_usercontrol_continue
{
    float: left;
    display: block;
    width: 47%;
    background-color: #ffffff;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}

.form_box_usercontrol_setheight
{
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    display: block;
    float: left;
    padding-top: 5px;
    padding-bottom: 4.5px;
}

.form_box_usercontrol_setheight_row
{
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    display: block;
    float: left;
}

.form_box_left_usercontrol_continue
{
    float: left;
    display: block;
    width: 48%;
    background-color: #ffffff;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid green;
    margin-left: 1%;
}

.label_single_setheigthlabel, .label_single_setheigth_general, label_single_setheigth_button
{
    width: 100%;
    display: block;
    float: left;
    height: 24px;
}

.label_single_setheigth_alamat
{
    width: 100%;
    display: block;
    float: left;
    height: 65px;
}


.label_single_setheigth_general
{
    height: 31px;
}

.label_single_setheigth_button
{
    height: 33px;
}

.lookup_grid_wrapper
{
    width: 100%;
    overflow: scroll;
    height: 225px;
}


/* Application Tab Style*/

.tab_container
{
    /*position: relative;*/
    top: 0;
    left: 0;
    width: 100%;
    background-color: #e5e5e5;
    height: 25px;
    /*border:1px solid green; */
}

.tab_selected, .tab_notselected
{
    width: 120px;
    padding: 5px 5px 5px 5px;
    vertical-align: middle;
    float: left;
    text-align: center;
    background-color: #e5e5e5;
    margin-bottom: 1%;
}

.tab_notselected
{
}

.tab_selected
{
    background-color: #ffffff;
    border-right: 0.5pt solid #c1c1c1;
    border-left: 0.5pt solid #c1c1c1;
}

.tab_container a
{
    text-decoration: none;
    font-size: 9pt;     
}

.button
{
    float: left;
    display: block;
}

/* ------------------------ css for lookup ----------------------  */
.windowPopup
{
    background-color: #fff;
    width: 700px;
    padding: 20px;
    border: 1px solid #ccc;
    float: left;
}

.windowPopup h4
{
    margin: 0;
    background-color: #fff;
    color: #000;
    text-align: left;
}

.windowPopup .tdjudul
{
    background-color: #ccc;
    font-weight: bold;
}

.windowPopup .navigasi
{
    text-align: right;
    display: block;
    vertical-align: top;
}

.windowPopup .navigasi .txtPage
{
    vertical-align: top;
}

.windowPopup .navigasi_totalrecord
{
    display: block;
    text-align: right;
}

.windowPopup .grid
{
    max-height: 300px;
    overflow: auto;
}

.lookupBackground
{
    background-color: #fff;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

/*.PanelPopup
{
    display: none;
}*/

/* ------------------------ END css for lookup ---------------------- */


.validator_general
{
    color: #ffffff;
    background-color: #c10000;
    margin: 2px;
    padding: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/*---------------------------------   grid  ----------------------*/

.grid_wrapper_ns, .grid_wrapper_ws
{
    text-align: left;
    width: 100%;
    float: left;
    display: block;
    padding-top: 3px;    
}

.grid_wrapper_ws
{
    overflow:scroll ; 
    overflow-y:hidden;
}

.grid_general
{
    text-align: left;
    border-collapse: collapse; /*border: 0px solid #fff;*/
    border: none;
    width: 100%;
    margin-bottom: 3px;
}

.grid_ws
{
    text-align: left;
    border-collapse: collapse; /*border: 0px solid #fff;*/
    border: none;
    margin-bottom: 3px;
}

.th
{
    font-size: 10pt;
    font-weight: normal;
    background: #333333 url('../Images/grid_header_black.png') repeat-x;    
    border: none;
    border-collapse: collapse;
    color: #fff;
    text-align: center;
    height: 25px;
}

.th td
{
    font-size: 10pt;
    font-weight: normal;
    background: #333333 url('../Images/grid_header_black.png') repeat-x;
    border: none;
    border-collapse: collapse;
    color: #fff;
}

.th a
{
    color: #fff;
}

.ft td
{
    border: none;
    border-collapse: collapse;
}


/*#dtgPaging td
{
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}*/


/*#dtgPaging tr:hover td
{
    background: #d0dafd;
    color: #339;
}*/

.item_grid td
{
    border-bottom: 1px solid #e5e5e5;
    border-top: none;
    border-left: none;
    border-right: none;
    border-collapse: collapse;
    background-color: #F9F9F9; /*padding-left: 2px;     padding-right: 2px;     padding-top: 3px;     padding-bottom: 3px;*/
    font-family: Segoe UI, Arial, Sans-Serif;
    font-size: 10pt;
}

.item_grid:hover td
{
    background: #F9F9F9 url('../Images/grid_hover_blue00.png') repeat-x;
    color: #fff;
}

.item_grid:hover td a
{
    color: #fff;
}

.command_col
{
    width: 80px;
    text-align: center;
    background-color: #e5e5e5;
}

.short_col
{
    width: 50px;
    text-align: center;
}

.short_col select
{
    width: 50px;    
}

.name_col, .address_col
{
    text-align: left;
}

.name_col
{
    width: 200px;
}

.medium_col
{
    width: 200px;
    text-align: center;
}

.normal_col
{
    width: 150px;
    text-align: center;
}

.normal_col select
{
    width: auto;    
}

.gridnavigation
{
    float: left;
    display: block;
    width: 97%;
    border: 1px solid #e5e5e5;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 3px;
    background-color: #F9F9F9;
    padding: 0.5%;
}


.button_gridnavigation
{
    float: left;
    display: inline-block;
}

.button_gridnavigation input[type=image]
{
    margin-right: 15px;
    height: 15px;
}

/*#imgbtnPageNumb, #txtPage, #txtGoPage
{
    float: left;
    position: relative;
    margin-right: 15px;
}*/

#txtPage, #txtGoPage, .gopage
{
    width: 40px;
}

.label_gridnavigation
{
    top: 5px;
    float: right;
    font-size: 10pt;
    color: #939393;
    position: relative;
}

.label_margin_general, #lblPage, #lblTotPage, #lblrecord
{
    margin-left: 2px;
    margin-right: 2px;
}


.grid_general
{
    text-align: left;
    border-collapse: collapse;
    border: none;
    width: 100%;
    margin-bottom: 3px;
}


.item_grid_attr td
{
    border-bottom: 1px solid #e5e5e5;
    border-top: none;
    border-left: none;
    border-right: none;
    border-collapse: collapse;
}

.left_col
{
    text-align: left;
}

.right_col
{
    text-align: right;
}

.middle_col
{
    text-align: center;
}

.label_col
{
    width: 200px;
}


/*---------------------------------   tabel approval  ----------------------*/
#tabel_appr1
{
    border: none;
    border-collapse: collapse;
    width: 100%;
}

#tabel_appr1 .td_label
{
    width: 300px;
}

#tabel_appr1 .td_content
{
    text-align: left;
}


#tabel_appr2
{
    border: none;
    border-collapse: collapse;
    width: 100%;
}

#tabel_appr2 .td_label
{
    width: 200px;
}

#tabel_appr2 .td_content
{
    text-align: left;
}


/*---------------------------------   scrollbars  ----------------------*/
::-webkit-scrollbar
{
    height: 12px;
    width: 12px;
    background: #f9f9f9;
}
::-webkit-scrollbar-thumb
{
    background: #e5e5e5;
    -webkit-border-radius: 0.2ex;    
}
::-webkit-scrollbar-corner
{
    background: #f9f9f9;
}

.form_1, .form_2, .form_3
{
    text-align: left;
    width: 31%;
    float: left;
    display: block;
    padding: 2px;
}

.label_currency
{
    text-align:right;        
    }
    
    
select
{
    width:170px; 
    
    }
    
select option
{
    background-color:#f9f9f9;
    }    
    
.select_auto    
{
    width:auto ;
    }