﻿.button, .button:visited
{
    /*background: #222 url(overlay.png) repeat-x;*/
    display: inline-block;
    padding: 8px 15px 9px ;
    color: #fff;
    text-decoration: none;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.6);
    border: 1px solid rgba(0,0,0,0.25);
    position: relative;
    margin-right: 5px;
    
}

.button:hover
{
    background-color: #111;
    color: #fff;
}

.button:active
{
    top: 1px;
}

.small.button, .small.button:visited
{
    font-size: 9pt;        
}



/*------------------- button go grid navigation ---------------------*/
.buttongo, .buttongo:visited
{    
    display: inline-block;
    padding: 2px 8px 3px ;
    color: #fff;
    text-decoration: none;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.6);
    border: 1px solid rgba(0,0,0,0.25);
    position: relative;
    margin-right: 5px;
}

.buttongo:hover
{
    background-color: #111;
    color: #fff;
}

.buttongo:active
{
    top: 1px;
}

.small.buttongo, .small.buttongo:visited
{
    font-size: 9pt;        
}

.blue.buttongo, .blue.buttongo:visited
{
    background-color: #0A78FF;
    color: #fff;
}

.blue.buttongo:hover
{
    background-color: #2888ff;
}


.red.buttongo, .red.buttongo:visited
{
    background-color: #e62727;
    color: #fff;
}

.red.buttongo:hover
{
    background-color: #e62727;
}



.gray.buttongo, .gray.buttongo:visited
{
    background-color: #808080;
    color: #fff;
}

.gray.buttongo:hover
{
    background-color: #939393;
}



/*end*/


.button, .button:visited, .medium.button, .medium.button:visited
{
    font-size: 13px;
    font-weight:lighter ;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

.large.button, .large.button:visited
{
    font-size: 14px;
    padding: 8px 50px 9px;
    color: #fff;
}

.super.button, .super.button:visited
{
    font-size: 34px;
    padding: 8px 14px 9px;
}

.pink.button, .magenta.button:visited
{
    background-color: #e22092;
}

.pink.button:hover
{
    background-color: #c81e82;
}

.green.button, .green.button:visited
{
    background-color: #01B200;
    padding: 8px 15px 9px;
    color: #fff;
}

.green.button:hover
{
    background-color: #01d100;
}

.red.button, .red.button:visited
{
    background-color: #e62727;
    padding: 8px 15px 9px;
    color: #fff;
}

.red.button:hover
{
    background-color: #cf2525;
}

.orange.button, .orange.button:visited
{
    background-color: #ff5c00;
}

.orange.button:hover
{
    background-color: #d45500;
}

.blue.button, .blue.button:visited
{
    background-color: #0A78FF;
    color: #fff;
    top: 0px;
    left: 0px;
}

.blue.button:hover
{
    background-color: #2888ff;
}




.gray.button, .gray.button:visited
{
    background-color: #808080;
    color: #fff;
}

.gray.button:hover
{
    background-color: #939393;
}






.yellow.button, .yellow.button:visited
{
    background-color: #ffb515;
}

.yellow.button:hover
{
    background-color: #fc9200;
}
