/*
								"DHX MOD SKELETON" DHTMLXMENU SKIN 2021
*/
/****************************************************************************************************************************************************/
/*									TOPLEVEL								    */

@font-face{font-family:'Open Sans';src:url('fonts/OpenSans-Regular.ttf'),url('fonts/OpenSans-Regular.eot');}
@font-face{font-family:'Open Sans Condensed';src:url('fonts/OpenSans-CondBold.ttf'),url('fonts/OpenSans-CondBold.eot');}
@font-face{font-family:'JosefinSans';src:url('fonts/JosefinSans-Regular.ttf');}
@font-face{font-family:'JosefinSans Bold';src:url('fonts/JosefinSans-Bold.ttf');}
@font-face{font-family:'Ubuntu';src:url('fonts/Ubuntu-R.ttf');}


.dhtmlxMenu_dhx_skeleton_Middle
{
    
    /*For IE 8  	
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#848484')";	*/
}

.dhtmlxMenu_dhx_skeleton_Layout, .dhtmlxMenu_dhx_skeleton_Accordion
{
    border-bottom: #cedce8 1px solid;
}

.dhtmlxMenu_dhx_skeleton_Middle.in_acccell, .dhtmlxMenu_dhx_skeleton_Middle.in_layoutcell
{
   
}

.dhtmlxMenu_dhx_skeleton_Middle.dir_left div.align_left
{
   
}
.dhtmlxMenu_dhx_skeleton_Middle.dir_left div.align_right
{
    float: right;
}


/****************************************************************************************************************************************************/
/*									TOPLEVEL ITEMS								    */
/* toplevel item normal */
div.dhtmlxMenu_dhx_skeleton_TopLevel_Item_Normal, div.dhtmlxMenu_dhx_skeleton_TopLevel_Item_Disabled, div.dhtmlxMenu_dhx_skeleton_TopLevel_Item_Selected
{
   
	
}
/* toplevel item disabled */
div.dhtmlxMenu_dhx_skeleton_TopLevel_Item_Disabled
{
    color: #999999 !important;
}
/* toplevel item selected (over) */
div.dhtmlxMenu_dhx_skeleton_TopLevel_Item_Selected
{
    /*background-image: url("../Images/Menu/dhxmenu_dhx_skeleton/dhxmenu_topselbg.gif") !important;
    background-repeat: repeat-x !important;
    background-position: top !important;*/
    background-color: #4aa39c;
    border-left: #e5e5e5 1px solid !important;
    border-right: #e5e5e5 1px solid !important;

}
/* toplevel separator */
.dhtmlxMenu_dhx_skeleton_Middle div.top_sep
{
    font-size: 1px;
    cursor: default; /*-moz-user-select: none; 	background-image: url("../Images/Menu/dhxmenu_dhx_skeleton/dhxmenu_topsepbg.gif"); 	background-repeat: no-repeat; 	background-position: top center;*/
    height: 24px;
    position: relative;
    float: left;
    width: 3px;
    margin-left: 0px;
    margin-right: 2px;
}
/* top level image */
.dhtmlxMenu_dhx_skeleton_Middle img.dhtmlxMenu_TopLevel_Item_Icon
{
    float: left;
    margin: 2px 2px 0px 2px;
    width: 18px;
    height: 18px;
}


/* top level text*/
div.dhtmlxMenu_dhx_skeleton_TopLevel_Item_Normal div.top_level_text, div.dhtmlxMenu_dhx_skeleton_TopLevel_Item_Disabled div.top_level_text, div.dhtmlxMenu_dhx_skeleton_TopLevel_Item_Selected div.top_level_text
{
    /*color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    min-height: 30px;
    padding: 10px 20px;
    border-bottom: 0;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 1.82;
    position: relative;*/
}
/****************************************************************************************************************************************************/
/*									SUBLEVEL POLYGON							    */
div.dhtmlxMenu_dhx_skeleton_SubLevelArea_Polygon
{
    position: absolute;
    background-color: #f9f9f9;
    overflow: hidden;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 1px solid #e5e5e5;
	 -webkit-border-radius: 0px 10px 0px 10px;
	-moz-border-radius: 0px 10px 0px 10px;
	-khtml-border-radius: 0px 10px 0px 10px;
	border-radius: 0px 10px 0px 10px;
	
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
/* IE6 sublevel undercover fix */
iframe.dhtmlxMenu_IE6CoverFix_dhx_skeleton
{
    position: absolute;
    border: none;
    background: #000000;
    filter: alpha(opacity=100);
}
/****************************************************************************************************************************************************/
/*									SUBLEVEL ITEMS								    */

div.dhtmlxMenu_dhx_skeleton_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl
{
    /*height: 24px;
    cursor: default;*/
}
div.dhtmlxMenu_dhx_skeleton_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item
{
    height: 24px;
    cursor: default;
}
div.dhtmlxMenu_dhx_skeleton_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis
{
    height: 24px;
    cursor: default;
}

div.dhtmlxMenu_dhx_skeleton_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_selected
{
    height: 24px;
    cursor: default;
    background-image: url("../Images/Menu/dhxmenu_dhx_skeleton/dhxmenu_subselbg.gif") !important;
    background-repeat: repeat-x;
    background-position: top;
    background-color: #cccccc;
}
div.dhtmlxMenu_dhx_skeleton_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl td.sub_item_icon
{
    width: 24px;
    text-align: left;
    -moz-user-select: none;
}
div.dhtmlxMenu_dhx_skeleton_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl td.sub_item_icon img.sub_icon
{
    width: 18px;
    height: 18px;
    margin-top: 2px;
    margin-right: 0px;
    margin-left: 6px;
}
div.dhtmlxMenu_dhx_skeleton_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl td.sub_item_text
{
    vertical-align: middle;
    padding-left: 4px;
    padding-right: 4px;
}
div.dhtmlxMenu_dhx_skeleton_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_item_text
{
    font-family: Ubuntu;
    font-size: 10pt;
    font-weight: normal;
    color: #000000;
    white-space: nowrap;
    text-align: left;
}
div.dhtmlxMenu_dhx_skeleton_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis div.sub_item_text
{
    color: #999999 !important;
}
div.dhtmlxMenu_dhx_skeleton_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl td.sub_item_hk
{
    padding-left: 8px;
    padding-right: 8px;
}
div.dhtmlxMenu_dhx_skeleton_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl td.sub_item_hk div.sub_item_hk
{
    /* 	font-family: Tahoma; 	font-size: 10px;     */
    color: #4985b7;
    text-align: right;
}
div.dhtmlxMenu_dhx_skeleton_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis td.sub_item_hk div.sub_item_hk
{
    color: #cecece !important;
}
div.dhtmlxMenu_dhx_skeleton_SubLevelArea_Polygon tr.sub_sep
{
    height: 3px;
    font-size: 1px;
}
div.dhtmlxMenu_dhx_skeleton_SubLevelArea_Polygon div.sub_sep
{
    font-size: 1px;
    background-image: url("../Images/Menu/dhxmenu_dhx_skeleton/dhxmenu_subsepbg.gif");
    background-repeat: repeat-x;
    background-position: top;
    cursor: default;
    height: 3px;
}
/****************************************************************************************************************************************************/
/*									SUBLEVEL ARROWS								    */

div.dhtmlxMenu_dhx_skeleton_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.complex_arrow
{
    width: 4px;
    height: 24px;
    background-image: url("../Images/Menu/dhxmenu_dhx_skeleton/dhtmlxmenu_subar.gif");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    float: right;
}
div.dhtmlxMenu_dhx_skeleton_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_selected div.complex_arrow
{
    background-position: -4px 0px !important;
}
div.dhtmlxMenu_dhx_skeleton_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis div.complex_arrow
{
    background-position: -8px 0px !important;
}
/****************************************************************************************************************************************************/
/*									LOADING ICON								    */
div.dhtmlxMenu_SubLevelArea_Item_Arrow_Loading
{
    position: absolute;
    width: 11px;
    height: 11px;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url("../Images/Menu/dhxmenu_dhx_skeleton/dhtmlxmenu_loader.gif");
}
div.dhtmlxMenu_dhx_skeleton_SubLevelArea_Polygon_left div.dhtmlxMenu_SubLevelArea_Item_Arrow_Loading
{
    top: 6px;
    left: none;
    right: 6px;
}
div.dhtmlxMenu_dhx_skeleton_SubLevelArea_Polygon_right div.dhtmlxMenu_SubLevelArea_Item_Arrow_Loading
{
    top: 6px;
    right: none;
    left: 6px;
    _right: -38px;
}
/****************************************************************************************************************************************************/
/*									UP/DOWN OVERFLOW ARROWS							    */
div.dhtmlxMenu_dhx_skeleton_SubLevelArea_Arrow
{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #eaf2fb;
    text-align: center;
    overflow: hidden;
}
div.dhtmlxMenu_dhx_skeleton_SubLevelArea_Arrow div.dhtmlxMenu_SubLevelArea_Arrow_Icon
{
    position: relative;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 9px;
    height: 5px;
    background-repeat: no-repeat;
    background-image: url("../Images/Menu/dhxmenu_dhx_skeleton/dhtmlxmenu_upar.gif");
}
/* up arrows */
div.dhtmlxMenu_dhx_skeleton_SubLevelArea_ArrowUp, div.dhtmlxMenu_dhx_skeleton_SubLevelArea_ArrowUp_Over, div.dhtmlxMenu_dhx_skeleton_SubLevelArea_ArrowUp_Disabled
{
    position: absolute;
    height: 16px;
    height: 18px;
    padding: 1px 1px 0px 1px;
    font-size: 1px;
    background-color: #eaf2fb;
    border: #a4bed4 1px solid;
    border-bottom: none;
	
}
div.dhtmlxMenu_dhx_skeleton_SubLevelArea_ArrowUp div.dhtmlxMenu_SubLevelArea_Arrow_Icon
{
    background-position: -27px 0px;
}
div.dhtmlxMenu_dhx_skeleton_SubLevelArea_ArrowUp_Over div.dhtmlxMenu_SubLevelArea_Arrow_Icon
{
    background-position: -36px 0px;
}
div.dhtmlxMenu_dhx_skeleton_SubLevelArea_ArrowUp_Disabled div.dhtmlxMenu_SubLevelArea_Arrow_Icon
{
    background-position: -45px 0px;
}
/* down arrows */
div.dhtmlxMenu_dhx_skeleton_SubLevelArea_ArrowDown, div.dhtmlxMenu_dhx_skeleton_SubLevelArea_ArrowDown_Over, div.dhtmlxMenu_dhx_skeleton_SubLevelArea_ArrowDown_Disabled
{
    position: absolute;
    height: 16px;
    height: 18px;
    font-size: 1px;
    padding: 1px 1px 0px 1px;
    background-color: #eaf2fb;
    border: #a4bed4 1px solid;
    border-top: none;
	
}
div.dhtmlxMenu_dhx_skeleton_SubLevelArea_ArrowDown div.dhtmlxMenu_SubLevelArea_Arrow_Icon
{
    background-position: 0px 0px;
}
div.dhtmlxMenu_dhx_skeleton_SubLevelArea_ArrowDown_Over div.dhtmlxMenu_SubLevelArea_Arrow_Icon
{
    background-position: -9px 0px;
}
div.dhtmlxMenu_dhx_skeleton_SubLevelArea_ArrowDown_Disabled div.dhtmlxMenu_SubLevelArea_Arrow_Icon
{
    background-position: -18px 0px;
}
/****************************************************************************************************************************************************/
/*									TOPLEVEL TEXT								    */
.dhtmlxMenu_dhx_skeleton_Middle div.dhtmlxMenu_TopLevel_Text_right
{
   
}
.dhtmlxMenu_dhx_skeleton_Middle div.dhtmlxMenu_TopLevel_Text_left
{
   
}
/****************************************************************************************************************************************************/
/*									ITEM'S CHECKS, RADIOS							    */
/* sublevel */
div.dhtmlxMenu_dhx_skeleton_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_icon
{
    float: left;
    margin: 0px 2px 0px 2px;
    width: 18px;
    height: 18px;
    background-position: top right;
    background-repeat: no-repeat;
    background-image: url("../Images/Menu/dhxmenu_dhx_skeleton/dhtmlxmenu_chrd.gif");
}
/* checkboxes */
div.dhtmlxMenu_dhx_skeleton_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_icon.chbx_0
{
    background-position: 0px 0px !important;
}
div.dhtmlxMenu_dhx_skeleton_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_icon.chbx_1
{
    background-position: -18px 0px !important;
}
div.dhtmlxMenu_dhx_skeleton_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis div.sub_icon.chbx_0
{
    background-position: -36px 0px !important;
}
div.dhtmlxMenu_dhx_skeleton_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis div.sub_icon.chbx_1
{
    background-position: -54px 0px !important;
}
/* radios */
div.dhtmlxMenu_dhx_skeleton_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_icon.rdbt_0
{
    background-position: -72px 0px !important;
}
div.dhtmlxMenu_dhx_skeleton_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_icon.rdbt_1
{
    background-position: -90px 0px !important;
}
div.dhtmlxMenu_dhx_skeleton_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis div.sub_icon.rdbt_0
{
    background-position: -108px 0px !important;
}
div.dhtmlxMenu_dhx_skeleton_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis div.sub_icon.rdbt_1
{
    background-position: -126px 0px !important;
}
