﻿@font-face{font-family:'Open Sans';src:url('fonts/OpenSans-Regular.ttf'),url('fonts/OpenSans-Regular.eot');}
@font-face{font-family:'Open Sans Condensed';src:url('fonts/OpenSans-CondBold.ttf'),url('fonts/OpenSans-CondBold.eot');}
@font-face{font-family:'JosefinSans';src:url('fonts/JosefinSans-Regular.ttf');}
@font-face{font-family:'JosefinSans Bold';src:url('fonts/JosefinSans-Bold.ttf');}
@font-face{font-family:'Ubuntu';src:url('fonts/Ubuntu-R.ttf');}


body
{
    margin: 0;
    background-color: #cccccc;
    /*font-family: Segoe UI, Arial, Sans-Serif;*/
    font-family: Open Sans;
    font-size: 10pt;
}

h3
{
    font-size: 13pt;
    margin: 0;
    text-transform: uppercase;
}

h4
{
    font-size: 11pt;
    margin: 0;
    color: #333333;
}

h5
{
    font-size: 10pt;
    margin: 0;
}

a
{
    text-decoration: none;
    color: #00B0D8;
    text-transform: uppercase;
}

a:visited
{
    color: #00B0D8;
    text-transform: uppercase;
}

form_netral
{
    border: 1.5pt solid #c1c1c1;
    padding-top: 2%;
    width: 90%;
    background-color: #cccccc;
    top: 1%;
    left: 5%;
    min-height: 90%;
}

form, .form_color
{
    background-color: #ffffff;
}

form, .form_container
{
    position: absolute;
    top:10px;
    left: 0px;
	right:0px;
    border: 1.5pt solid #c1c1c1;
    min-width: 98.5%;
    min-height: 96%;
}

.form_title, .form_title_tab
{
    float: left;
    display: block;
    width: 98%;
    border: 1px solid #e5e5e5;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
}

.form_title
{
    padding-bottom: 6px;
    background-color: #f9f9f9;
}

.title_strip
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    /*background: #F9F9F9 url('../Images/title_strip00.png') no-repeat;*/
    height: 5px;
    background-size: 100%;
    background-color: #000063;
}

.form_title_tab
{
    margin-top: 2%;
}

.form_box_hide
{
    display: none;
}


.form_box, .form_box_header, .form_box_title, .form_box_title_nobg
{
    float: left;
    display: block;
    width: 98%;
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    margin-left: 1%;
    margin-right: 1%;
}

#lblMessage
{
    /*top: 125px;*/
    left: 0px;
    position: fixed;
    width: 12%;
    height: 10%;
    z-index: 100;
    cursor: pointer;
}

.label_req
{
    background-image: url('../Images/mandatory_small.png');
    background-repeat: no-repeat;
    background-position: right;
}

.form_onefifth
{
    width: 20%;
    float: left;
    display: block;
}

.form_box_seven
{
    top: 0px;
    left: -15px;
    position: fixed;
    width: 100%;
    z-index: 100;
    cursor: pointer;
    float: left;
    display: block;
    background-color: #e5e5e5;
    border-bottom: 2px solid #000;
    margin-left: 1%;
    margin-right: 1%;
}

.form_box_header
{
    background-color: #f9f9f9;
}

.form_box_header_l
{
    float: left;
    display: block;
    width: 49.2%;
    background-color: #f9f9f9;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    border-right: 1px solid #e5e5e5;
}

.form_box_header_r
{
    float: left;
    display: block;
    width: 48.3%;
    background-color: #f9f9f9;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
}

.form_box_title, .form_box_title_nobg
{
    margin-top: 1%;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}

.form_box_title_nobg
{
    background-color: #fff;
}


.form_eighten
{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    width: 12%;
    float: left;
    display: block;
}

.form_single, .form_single_wb
{
    text-align: left;
    width: 98%;
    float: left;
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
}

.form_single_wb
{
    border-bottom: 1px solid #e5e5e5;
}

.form_left, .form_right
{
    text-align: left;
    width: 48%;
    float: left;
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 12.0px;
    padding-right: 12.7px;
    min-height: 28px;
}

.form_right
{
    border-left: 1px solid #e5e5e5;
}

.box_important
{
    background-color: #feff51; /*border: 1px solid #d6d600;*/
}

.form_left_header, .form_right_header
{
    text-align: left;
    width: 48%;
    float: left;
    display: table-cell;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 1%;
    padding-right: 1%; /*min-height: 120px;*/
    min-height: 25px;
    background-color: #f9f9f9;
    vertical-align: middle;
}

.form_right_header
{
    width: 47%;
    border-left: 1px solid #e5e5e5;
}


.error_message
{
    
    display: inline-block;
    padding: 1%;
    padding: 28px;
    color: #fff;
    background-color: #c10000;
    margin-left: 87%;
    margin-right: 12%;
    margin-top: 1%;
}

.success_message
{
    display: inline-block;
    padding: 1%;
    padding: 28px;
    color: #fff;
    background-color: #01B200;
     margin-left: 87%;
    margin-right: 12%;
    margin-top: 1%;
}

/*
.success_message
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background-color: #01B200;
    padding: 1%;
    }*/

label
{
    width: 230px;
    display: inline-block;
}

.label
{
    width: 230px;
    display: inline-block;
}

.label_general
{
    width: 230px;
    float: left;
    padding-top: 3px;
    padding-bottom: 3px;
    display: inline-block;
    min-width: 230px;
}

.div_label
{
    width: 230px;
    display: inline-block;
}

.label_auto
{
    width: auto;
    display: inline-block;
}

.label_unit
{
    width: auto;
    display: inline-block;
    margin-left: 3px;
}

.label_calc
{
    width: auto;
    display: inline-block;
    float: right !important;
}
.label_calc2
{
    width: auto;
    display: inline-block;
	float:right;
	margin-right:-10px;
}

.checkbox_group
{
    display: block;
    text-align: left;
    float: left;
}

.checkbox_wrapper_ws
{
    text-align: left;
    float: left;
    width: 40%;
    display: block;
    padding-top: 3px;
    overflow: scroll;
    overflow-x: hidden;
    height: 200px;
    border: 1px solid #e5e5e5;
}

.checkbox_group_item
{
    display: block;
}

.checkbox_group_item label
{
    width: auto;
}


.checkbox_general label
{
    width: auto;
}


.label_alamat
{
    width: 220px;
    display: inline-block;
    float: left;
    padding-left: 3px;
}

.label_notes
{
    padding-bottom: 5px;
}

.label_medium
{
    width: 30%;
    display: inline-block;
}

.small_text
{
    width: 80px;
}

.smaller_text
{
    width: 35px;
}


.medium_text
{
    width: 230px;
}

.regular_text
{
    width: 150px;
}

.regular_font
{
    font-size: 9pt;
}

.readonly_text
{
    border: none !important;
    background-color: #fff !important;
}

.long_text
{
    width: 40%;
}

.numberAlign
{
    text-align: right !important;
    display: inline-block;
}
.numberAlign2
{
    text-align: right !important;
	float:right;
    display: inline-block;
}
.numberAlign3
{
    text-align: right !important;
    display: inline-block;
    width:80px;
}
.opt_yesno
{
    width: 20%;
    display: inline-block;
}

.opt_single label
{
    font-size: 10pt;
    width: auto !important;
}

.opt_single_product
{
    display: inline-block;
    float: left;
    margin-right: 35px;
}

.opt_single_product label
{
    width: auto;
}

#DataGrid
{
    border: 1px solid #e5e5e5;
}

.multiline_textbox, .desc_textbox
{
    width: 30%;
    font-family: Open Sans;
    font-size: 10pt;
}


.multiline_textbox
{
    min-height: 50px;
}

.textboxsurvey
{
    min-height: 150px;
    width:100%;
}

.multiline_textbox_uc
{
    width: 30%;
    height: 50px;
    font-family: Open Sans;
    font-size: 10pt;
}
 .multiline_new
        {
            float:right;
            width:80%;
            padding-left: 14px;
        }
.drop_down
{
    width: 100%;
}


.form_button
{
    float: left;
    display: block;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form_box_uc
{
    float: left;
    display: block;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

.form_left_uc
{
    text-align: left;
    width: 49.9%;
    float: left;
    display: block; /*border-left: 1px solid green;   */
}

.form_right_uc
{
    text-align: left;
    width: 49.9%;
    display: block;
    float: right;
    border-left: 1px solid #e5e5e5; /*border-right: 1px solid yellow;   */
}

.form_box_usercontrol, .form_box_usercontrol_header, .form_box_usercontrol_title_nobg
{
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    display: block;
    float: left; /*padding-top: 3px;     padding-bottom: 3px;     padding-left: 10px;    */
}

.form_box_usercontrol_header
{
    background-color: #f9f9f9;
}

.form_box_usercontrol_title_nobg
{
    border-top: 1px solid #e5e5e5;
    }
.form_left_usercontrol, .form_quarter, .form_seven
{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.form_seven
{
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
}

.form_quarter
{
    width: 23%;
    float: left;
    display: block;
}

.form_seven
{
    width: 13%;
    float: left;
    display: block-inline;
}


/*.form_quarter input[type=text]
{
    width:100%;
    }
*/

.form_box_left_usercontrol
{
    float: left;
    display: block;
    width: 48%;
    background-color: #ffffff;
    margin-left: 2%;
    margin-top: 10px;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}


.form_box_right_usercontrol
{
    float: left;
    display: block;
    width: 47%;
    border-top: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    margin-top: 10px;
}

.label_split, .label_split_req
{
    width: 227px;
    display: block;
    float: left;
    margin-right: 5px;
}

.label_split_req
{
    background-image: url('../Images/mandatory_small.png');
    background-repeat: no-repeat;
    background-position: right;
}


.form_box_right_usercontrol_continue
{
    float: left;
    display: block;
    width: 47%;
    background-color: #ffffff;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}

.form_box_usercontrol_setheight
{
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    display: block;
    float: left;
    padding-top: 5px;
    padding-bottom: 4.5px;
}

.form_box_usercontrol_setheight_row
{
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    display: block;
    float: left;
}

.form_box_left_usercontrol_continue
{
    float: left;
    display: block;
    width: 48%;
    background-color: #ffffff;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid green;
    margin-left: 1%;
}


.form_singlefill
{
    height: 100%;
    width: 100%;
    position: absolute;
    margin: auto;
}

.label_single_setheigthlabel, .label_single_setheigth_general, label_single_setheigth_button
{
    width: 100%;
    display: block;
    float: left;
    height: 24px;
}

.label_single_setheigth_alamat
{
    width: 100%;
    display: block;
    float: left;
    height: 65px;
}


.label_single_setheigth_general
{
    height: 31px;
}

.label_single_setheigth_button
{
    height: 33px;
}

.lookup_grid_wrapper
{
    width: 100%;
    overflow: scroll; /*height: 225px;*/
    height: 350px;
}


.border_sum
{
    border-bottom: 1px solid #c1c1c1 !important;
}

/* Application Tab Style*/

.tab_container
{
    /*position: relative;*/
    top: 0;
    left: 0;
    width: 100%;
    background-color: #e5e5e5;
    height: 27px; /*border:1px solid green; */
}

.tab_container_form 
{
    top: 25px;
    margin-bottom:51px;
}

.tab_container_form_space
{
    float: left;
    display: block;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    height:50px;
}

.tab_container_button
{
    position: fixed;
    width: 98.5%;
    background-color: #fff;
    bottom: 0px;
    height:50px;
    z-index:100;
    border-top:1px solid #e5e5e5;
}

.tab_container_view
{
    position: fixed;
    width: 98.5%;
    background-color: #e5e5e5;
    top: 0px;
    height:27px;
    z-index:100;
}

.tab_selected, .tab_notselected
{
    /*width: 140.5px;*/
	width: 180.5px;
    padding: 5px 5px 5px 5px;
    vertical-align: middle;
    float: left;
    text-align: center;
    background-color: #e5e5e5;
    margin-bottom: 1%;
}

.tab_notselected:hover
{
	background-color: #ffffff;
	/*border-right: 0.5pt dotted #E5E5E5;
    border-left: 0.5pt dotted #E5E5E5;*/
	cursor:pointer;
	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-khtml-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
}

.tab_selected
{
    background-color: #ffffff;

	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-khtml-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
}

.tab_container a
{
    text-decoration: none;
    font-size: 9pt;
}

.button
{
    float: left;
    display: block;
}

/* ------------------------ css for lookup ----------------------  */
.windowPopup
{
    background-color: #fff;
    width: 700px;
    padding: 20px;
    border: 1px solid #ccc;
    float: left;
}

.windowPopup h4
{
    margin: 0;
    background-color: #fff;
    color: #000;
    text-align: left;
}

.windowPopup .tdjudul
{
    background-color: #ccc;
    font-weight: bold;
}

.windowPopup .navigasi
{
    text-align: right;
    display: block;
    vertical-align: top;
}

.windowPopup .navigasi .txtPage
{
    vertical-align: top;
}

.windowPopup .navigasi_totalrecord
{
    display: block;
    text-align: right;
}

.windowPopup .grid
{
    max-height: 300px;
    overflow: auto;
}

.lookupBackground
{
    background-color: #fff;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

/*.PanelPopup
{
    display: none;
}*/

/* ------------------------ END css for lookup ---------------------- */



/* ------------------------ css for lookup new ----------------------  */

.wp
{
    background-color: #fff;
    width: 700px;
    border: 1px solid #ccc;
    float: left;
}

.wp h4
{
    margin: 0;
    color: #000;
    text-align: left;
}

.wp .gridwp
{
    max-height: 300px;
    overflow: auto;
}

.wpbg
{
    background-color: #000;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.wpbtnexit
{
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    z-index: 1;
}

/* ------------------------ end css for lookup new ----------------------  */




.validator_general
{
    color: #ffffff;
    background-color: #c10000;
    margin: 2px;
    padding: 3px 10px 3px 10px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px 1px #e5e5e5;
    -moz-box-shadow: 0 1px 2px 1px #e5e5e5;
    box-shadow: 0 1px 1px 2px #e5e5e5;
    font-size: 8pt;
    text-transform: capitalize !important;
}

/*---------------------------------   grid  ----------------------*/

.grid_wrapper_ns, .grid_wrapper_ws, .tree_menu_ws
{
    text-align: left;
    width: 100%;
    float: left;
    display: block;
    padding-top: 3px;
}

.grid_wrapper_ws
{
    overflow: scroll;
    overflow-y: hidden;
}

.tree_menu_ws
{
    height: 350px;
    overflow-y: scroll;
}

.grid_ws
{
    text-align: left;
    border-collapse: collapse; /*border: 0px solid #fff;*/
    border: none;
    margin-bottom: 3px;
}

.th
{
    font-size: 10pt;
    font-weight: normal;
    background: #ffffff  url('../Images/grid_header_black.png') repeat-x;
    border: none;
    border-collapse: collapse;
    color: #fff;
    height: 25px;
}

.th td
{
    font-size: 10pt;
    font-weight: normal;
    background: #333333 url('../Images/grid_header_black.png') repeat-x;
    border: none;
    border-collapse: collapse;
    color: #fff;
    text-align: left;
    padding: 0 5px 0 5px;
}

.th a
{
    color: #fff;
}



.ft td
{
    border: none;
    border-collapse: collapse;
    font-weight: bold;
}


/*#dtgPaging td
{
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}*/


/*#dtgPaging tr:hover td
{
    background: #d0dafd;
    color: #339;
}*/


.item_grid td, .item_gridselected
{
    border-bottom: 1px solid #e5e5e5;
    border-top: none; /*border-left: 1px solid #eaeaea;     border-right: 1px solid #eaeaea;*/
    border-left: none;
    border-right: none;
    border-collapse: collapse;
    background-color: #F9F9F9; /*padding-left: 2px;     padding-right: 2px;     padding-top: 3px;     padding-bottom: 3px;*/
    font-family: Open Sans;
    font-size: 10pt;
    padding: 0 5px 0 5px;
    text-align: left;
    text-transform: uppercase;
}

.DoneProses td{
    background-color:#feff51;
}
.item_gridselected td
{
    background-color: #feff51 !important;
}


.item_grid:hover td
{
    /*background: #00B0D8 url('../Images/grid_hover_blue00.png') repeat-x;*/
    background-color: #00B0D8;
    color: #fff;
}

.item_grid:hover td a
{
    color: #832D30;
}

.auto_width
{
    width: 1px !important;
}

.command_col
{
    width: 30px;
    background-color: #e5e5e5;
}

.short_col
{
    width: 10px;
    text-align: center;
}

.short_col select
{
    width: 50px;
}

.name_col, .address_col
{
    text-align: left;
}


.name_col
{
    width: 200px;
}

.medium_col
{
    width: 230px !important;
    text-align: center;
}

.normal_col
{
    width: 150px;
    text-align: center;
}

.normal_col select
{
    width: auto;
}


.th_right
{
    text-align: right !important;
}

.item_grid_right
{
    text-align: right !important;
}

.th_center
{
    text-align: center !important;
}

.item_grid_center
{
    text-align: center !important;
}

.gridnavigation
{
    float: left;
    display: block;
    width: 97%;
    border: 1px solid #e5e5e5;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 3px;
    background-color: #F9F9F9;
    padding: 0.5%;
}


/*
input[type=text], input[type=textarea], textarea
{
    text-transform: uppercase;
}



.no_text_transf
{
    text-transform: none !important;
}
*/
input[type=text], select, input[type=textarea], textarea,input[type=password]
{
    border: 1px solid rgba(0, 0, 0, 0.2); /*border-radius: 3px 3px 3px 3px;*/
    margin: 2px;
    outline: medium none;
    padding: 3px;
    transition: all 0.25s ease-in-out 0s;
    font-family: Open Sans;
}
/*input[type=text]{
     width:200px;
}*/
input[type=text],input[type=password],textarea,select {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
}
input[type=text]:focus, textarea:focus, select:focus
{
    color:#000;
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.3);
}
.button_gridnavigation
{
    float: left;
    display: inline-block;
}

.button_gridnavigation input[type=image]
{
    margin-right: 15px;
    height: 15px;
}

/*#imgbtnPageNumb, #txtPage, #txtGoPage
{
    float: left;
    position: relative;
    margin-right: 15px;
}*/

#txtPage, #txtGoPage, .gopage
{
    width: 40px;
}

.label_gridnavigation
{
    top: 5px;
    float: right;
    font-size: 10pt;
    color: #939393;
    position: relative;
}

.label_margin_general, #lblPage, #lblTotPage, #lblrecord
{
    margin-left: 2px;
    margin-right: 2px;
}


.grid_general, .grid_general_ws, .grid_onuc
{
    text-align: left;
    border-collapse: collapse;
    border: none;
    width: 100%;
    margin-bottom: 3px;
}

.grid_general_ws
{
    width: 1200px;
}


.item_grid_attr td
{
    border-bottom: 1px solid #e5e5e5;
    border-top: none;
    border-left: none;
    border-right: none;
    border-collapse: collapse;
    padding-top: 3px;
    padding-bottom: 3px;
}

.item_grid_attr_collabel
{
    padding-left: 10px;
}

.left_col
{
    text-align: left;
}

.right_col
{
    text-align: right;
}

.middle_col
{
    text-align: center;
}

.label_col
{
    width: 230px;
}


/*---------------------------------   tabel approval  ----------------------*/
#tabel_appr1
{
    border: none;
    border-collapse: collapse;
    width: 100%;
}

#tabel_appr1 .td_label
{
    width: 300px;
}

#tabel_appr1 .td_content
{
    text-align: left;
}


#tabel_appr2
{
    border: none;
    border-collapse: collapse;
    width: 100%;
}

#tabel_appr2 .td_label
{
    width: 230px;
}

#tabel_appr2 .td_content
{
    text-align: left;
}


/*---------------------------------   scrollbars  ----------------------*/
::-webkit-scrollbar
{
    height: 12px;
    width: 12px;
    background: #f9f9f9;
}
::-webkit-scrollbar-thumb
{
    background: #e5e5e5;
    -webkit-border-radius: 0.2ex;
}
::-webkit-scrollbar-corner
{
    background: #f9f9f9;
}

.form_1, .form_2, .form_3
{
    text-align: left;
    width: 31%;
    float: left;
    display: block;
    padding: 2px;
}

.label_currency
{
    text-align: right;
}

select
{
    width: 210px;
}

select option
{
    background-color: #f9f9f9;
}

.medium_select
{
    width: 170px;
}

.mandatory
{
    width: auto;
    color: Red;
}

.mandatory_container
{
    width: 30%;
    display: inline-block;
}

.mandatory_container label
{
    width: auto;
}

.form_l_usercontrol
{
    float: left;
    display: block;
    width: 48%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    border-right: 1px solid #e5e5e5;
}

.form_r_usercontrol
{
    float: left;
    display: block;
    width: 47%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.text_clue
{
    font-size: 8pt;
}


/*---------------------------------   update progress  ----------------------*/
.progress_bg
{
    /*background-color: #000000;   filter: alpha(opacity=50);      opacity: 0.5; */ /*width: 100%;     height: 100%;     position: absolute;*/
    background-color: #000000;
    filter: alpha(opacity=50);
    opacity: 0.5;
    top: 0px;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 100;
}


.progress_img
{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../Images/pic-loaderblack.gif');
    background-repeat: no-repeat;
    background-position: center;
}
.ui-custom-close
{
position: absolute;
float: right;
top: 0px;
right: 0px;
z-index: 1;
cursor:pointer;
}
.ui-widget-overlay {
	background: url('') repeat scroll 50% 50% #000 !important;
	opacity: .7 !important;	
}



.ajax__tab_body{border:0px !important;}
.ajax__tab_active,.ajax__tab_hover 
{
     background-color: #ffffff;
    border-radius: 10px 10px 0 0;
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-top: 1.4px;
    text-align: center;
    vertical-align: middle;
    width: 140.5px;
}
.ajax__tab_hover  
{ 
    cursor: pointer;
    }
.ajax__tab_outer{ width: 140.5px;}
.ajax__tab_outer{text-align: center;
    vertical-align: middle;}
.ajax__tab_xp .ajax__tab_header, 
.ajax__tab_xp .ajax__tab_header .ajax__tab_outer,
.ajax__tab_xp .ajax__tab_header .ajax__tab_inner ,
.ajax__tab_xp .ajax__tab_header .ajax__tab_tab,
.ajax__tab_xp .ajax__tab_header .ajax__tab_hover .ajax__tab_outer ,
.ajax__tab_xp .ajax__tab_header .ajax__tab_hover .ajax__tab_inner, 
.ajax__tab_xp .ajax__tab_header .ajax__tab_hover .ajax__tab_tab ,
.ajax__tab_xp .ajax__tab_header .ajax__tab_active .ajax__tab_outer ,
.ajax__tab_xp .ajax__tab_header .ajax__tab_active .ajax__tab_inner ,
.ajax__tab_xp .ajax__tab_header .ajax__tab_active .ajax__tab_tab ,
.ajax__tab_xp .ajax__tab_header_verticalleft ,
.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_outer ,
.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_inner ,
.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_tab,
.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_hover .ajax__tab_outer ,
.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_hover .ajax__tab_inner,
.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_hover .ajax__tab_tab,
.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_active,
.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_active .ajax__tab_outer,
.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_active .ajax__tab_inner,
.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_active .ajax__tab_tab ,
.ajax__tab_xp .ajax__tab_header_verticalright ,
.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_outer ,
.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_inner ,
.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_tab ,
.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_hover .ajax__tab_outer,
.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_hover .ajax__tab_inner,
.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_hover .ajax__tab_tab , 
.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_active .ajax__tab_outer,
.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_active .ajax__tab_inner ,
.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_active .ajax__tab_tab,
.ajax__tab_xp .ajax__tab_header_bottom ,
.ajax__tab_xp .ajax__tab_header_bottom .ajax__tab_outer ,
.ajax__tab_xp .ajax__tab_header_bottom .ajax__tab_inner ,
.ajax__tab_xp .ajax__tab_header_bottom .ajax__tab_tab ,
.ajax__tab_xp .ajax__tab_header_bottom .ajax__tab_hover .ajax__tab_outer,
.ajax__tab_xp .ajax__tab_header_bottom .ajax__tab_hover .ajax__tab_inner,
.ajax__tab_xp .ajax__tab_header_bottom .ajax__tab_hover .ajax__tab_tab ,
.ajax__tab_xp .ajax__tab_header_bottom .ajax__tab_active .ajax__tab_outer,
.ajax__tab_xp .ajax__tab_header_bottom .ajax__tab_active .ajax__tab_inner ,
.ajax__tab_xp .ajax__tab_header_bottom .ajax__tab_active .ajax__tab_tab  
{
    background: none !important;
}
#Tabs_header
{height:27px;
background-color: #e5e5e5 !important;
    }


.tx-overlay {
   background-color: #000;
   height: 100%;
   left: 0;
   opacity: 0.5;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 10001;
}
.t-window {
	border-radius: 5px;
	border-width: 2px;
	box-shadow: 0 0 5px 2px #aaa;
	display: inline-block;
	position: absolute;
	z-index: 10001;
	background-color: #fff;
	border-color: #a7bac5;
}

.aspNetDisabled { color: gray;}



.gray.button, .gray.button:visited {
    background-color: #808080;
    color: #fff;
}
.small.button, .small.button:visited {
    font-size: 9pt;
}
.prs_img_t {
    background-image: url("../Images/pic-loaderblack.gif");
    background-position: center center;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
}