﻿html, body
{
    height: 100%;
    overflow: hidden;
    font-family: Segoe UI , Arial, Sans-Serif;
    font-size: 10pt;
    background-color: #f4f4f4;
}

a
{
    text-decoration: none;
}

h1
{
    font-size: 25px;
}

h2
{
    font-size: 20px;
    float: left;
    color: #adadad;
}

h3
{
    font-size: 11pt;
}


#lblDate
{
    font-size: 12px;
    position: absolute;
    top: 320px;
    right: 0%;
}

.copyright  
{
    font-size: 8pt;
    position: absolute;
    top: 520px;
    right: 0%;
    text-align:right;  
    }
    
#loginbg
{
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    
}


#loginbg img
{
    position: absolute;
    width: 100%;
}

/*#loginbg
{
    position: fixed;
    top: 40%;
    left: 8%;
    width: 200%;
    height: 100%;
}

#loginbg img
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-height: 50%;
    min-width: 50%;
}*/

#newsbox
{
    float: left;
    position: fixed;
    top: 200px;
    left: 10%;
    height: 300px;
    width: 40%;
}

#newsbox2
{
    float: left;
    position: fixed;
    top: 370px;
    left: 10%;
    width: 40%;
    z-index:2;
    color:#fff;
}

#loginboxbg
{
    float: right;
    position: fixed;
    background-color: #b7b7b7;
    right: 10%;
    top: 110px;
    height: 300px;
    width: 30%;
    z-index:2;
}

#loginbox
{
    float: inherit;
    position: absolute;
    top: 110px;
    right: 10%;
    height: 300px;
    width: 30%;
    padding-left: 10%;
    z-index:3;
    
}

.loginbox_header
{
    float: left;
    height: 40px;
    width: 100%;
    border-bottom: 2pt dotted #f4f4f4;
    margin-bottom: 10px;
}

#loginbox h2
{
    color: #444444;
    margin-top: 8px;
}


#loginbox h5
{
    color: #444444;
    right: 10px;
    float: right;
}

#pnllogin, #pnlgroupdb
{
    padding: 10px 10px 10px 10px;
}

#loginbox textarea
{
    width: 100%;
}


.shadow
{
    -moz-box-shadow: 3px 5px 6px black;
    -webkit-box-shadow: 3px 5px 6px black;
    box-shadow: 0px 0px 6px black;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.one-edge-shadow
{
    -webkit-box-shadow: 0 6px 6px 6px black;
    -moz-box-shadow: 0 6px 6px 6px black;
    box-shadow: 0 6px 6px 6px black;
}

#company_logo
{
    float: right;
}

*
{
    margin: 0;
}

.form_box
{
    float: left;
    display: block;
    width: 96%;
    border: none;
    margin-left: 2%;
    margin-right: 2%;
}

.form_single
{
    text-align: left;
    width: 96%;
    float: left;
    display: block;
}

label
{
    float: left;
    display: block;
    width: 100%;
    font-family: Arial, Sans-Serif;
    font-size: 15px;
    border: none;
    margin-top: 10px;
    margin-bottom: 5px;
}

select, input[type="text"], .textBox
{
    float: left;
    display: block;
    width: 96%;
    font-family: Arial, Sans-Serif;
    font-size: 15px;
    border: none;
    padding: 5px;
}


.button
{
    float: left;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

#lblMessage
{
    width: 100%;
    display: block;
    padding: 10px;
    color: #feff1e;
    background-color: #c10000;
    margin: 0;
}

.logo_container
{   
    top: 110px;
    left: 10%;
    position: absolute;    
    float :left;  
    display:block ; 
}

#carbg
{
    /*background: url(loginbg02.png); */  
    background: url(../images/loginbg00_04.jpg) repeat-x;
    width:100%; 
    position:absolute;
    top:360px;
    z-index:1;  
}

#carbg img
{
    height:inherit;
    float:left;
}

#carbg-left
{
    background: url(../images/loginbg00_02.jpg) repeat-x;
    width:470px;
    height:inherit;
    float:left;
}

#carbg-right
{
    background: url(../images/loginbg00_04.jpg) repeat-x;
    width:479px;
    height:inherit;float:left;
}   