﻿@font-face{font-family:'Open Sans';src:url('fonts/OpenSans-Regular.ttf'),url('fonts/OpenSans-Regular.eot');}
@font-face{font-family:'Open Sans Condensed';src:url('fonts/OpenSans-CondBold.ttf'),url('fonts/OpenSans-CondBold.eot');}
@font-face{font-family:'JosefinSans';src:url('fonts/JosefinSans-Regular.ttf');}
@font-face{font-family:'JosefinSans Bold';src:url('fonts/JosefinSans-Bold.ttf');}
@font-face{font-family:'Ubuntu';src:url('fonts/Ubuntu-R.ttf');}

body
{
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;  
    background-size: 1599px 307px;
    background-image:url('../Images/footerBG.png');
}


.content{
    top:10px;
    position:absolute;
}
.logo_container{
	
    width:600px;
    display:inline-block;
    float:left;
}
.logo_container img{
    width: auto;
	height: auto;
	margin-top: 71px;
	margin-left: 354px;
}

.loginbox{
    border:3px solid #226bf1;
    width:250px;
    background-color:rgba(207, 207, 207, 0.25);
    float:left;
    margin-left:591.2px;
    -webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-khtml-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
    margin-bottom:10px;
    margin-top:39.9px;
}

.loginbox #blokLogo{
    
}

.loginbox #blokLogo img{
    margin:0 auto;
    width:150px;
    height:70px;
     display: table;
}
.loginbox #loginContent{
    margin-left:10px;
}
.loginbox #loginContent label,span{
    color:#00000;
    font-size:18px;
    display:block;
    margin-top:5px;
    margin-bottom:5px;
}
.loginbox #loginContent  input[type=text], select,input[type=password]{
    width:210px;
}

input[type=text], select, input[type=textarea], textarea,input[type=password]
{
    border: 1px solid rgba(0, 0, 0, 0.2); /*border-radius: 3px 3px 3px 3px;*/
    margin: 2px;
    outline: medium none;
    padding: 3px;
    transition: all 0.25s ease-in-out 0s;
    font-family: Open Sans;
    width:210px;
}
input[type=text]:focus, textarea:focus, select:focus,input[type=password]:focus
{
    color:#000;
    /*box-shadow: 0 0 5px rgba(0, 0, 255, 0.3);*/
}
input[type=text],input[type=password],textarea,select {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
}
.loginbox #loginContent input[type=submit] {
    margin-top:10px;
    background-color:#000000;
    cursor:pointer;
    font-size:16px;
    -webkit-border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-khtml-border-radius: 20px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;

    padding: 8px 12px 9px ;
    color: #fff;
    box-shadow: 3px 3px 2px #000;
}
.smallText{
    font-size:11px;
}

.footer{
   width:100px;
   border:1px solid red;
   margin-top:400px;
}
.white{
    color:#fff
}
.black{
    color:#000
}