﻿
h3
{
    margin: 0;
}

h4
{
    margin: 0;
}

.lookupBackground
{
    background-color: #000000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

#panelpopup
{
    display: none;
}

.windowPopup
{
    background-color: #ffffff;
    border: 1px solid #c1c1c1;
    height: 480px;
    width: 700px;
}

.hideObjects
{
    display: none;
}