*
{
    margin: 0;
    /*padding: 5px;*/
    /*padding: 0px;*/
}

html, body
{
    /*height: 100%;*/
    overflow: hidden;
    /*background-color: currentcolor;*/
}

#iheader
{
    height: 125px;
    width: 100%;
}

#icontent
{
    /*width: 100%;
    padding-bottom:207px;
    padding-top: 15px;*/
    /*width: 100%;
    padding-bottom: 70px;
    padding-top: 91px;*/
    position: absolute;
    height: 100%;
    width: 100%; 
    padding-bottom: 23px;
}

a
{
    text-decoration: none;
}

