﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="am_alert_001.ascx.vb"
    Inherits="Maxiloan.Webform.AppMgt.am_alert_001" %>
<iframe id="frKPI" name="iframe1" src="" frameborder="0" scrolling="auto">
</iframe>
