﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="am_alert_004.ascx.vb"
    Inherits="Maxiloan.Webform.AppMgt.am_alert_004" %>
<div id="outtext" runat="server">
</div>
<div id="outtext1" runat="server">
</div>