﻿<%@ Page Language="vb" AutoEventWireup="false" MasterPageFile="GL.Master" CodeBehind="BalanceSheetAccGroup.aspx.vb" Inherits="Maxiloan.Webform.GL.BalanceSheetAccGroupList" %>
 
<%@ Register Src="../webform.UserController/ucGridNav.ascx" TagName="ucGridNav" TagPrefix="uc2" %>   
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
  <asp:Label ID="lblMessage" runat="server" Visible="false" ToolTip="Click to close" onclick="hideMessage()" /> 
    

    <div class="form_title">
        <div class="title_strip">
        </div>
        <div class="form_single">
            <h3>
                CARI DETAIL
            </h3>
        </div>
    </div>
    <div class="form_box">
        <div class="form_single">
            <label>
                Group Name</label>
            <asp:TextBox ID="txtCari" Width="500px" runat="server" placeholder="Kata kunci pencarian"></asp:TextBox>
        </div>
    </div>
    <div class="form_button">
        <asp:Button ID="btnFind" runat="server" CausesValidation="False" Text="Find" CssClass="small button blue"/>
        <asp:Button ID="btnReset" runat="server" CausesValidation="False" Text="Reset" CssClass="small button gray"/>
        <asp:Button ID="btnBack" runat="server" CausesValidation="False" Text="Back" CssClass="small button gray"/>
        <asp:HiddenField id="hdIsFind" runat="server" Value="0"/>
    </div>

    <div class="form_title">
        <div class="title_strip">
        </div>
        <div class="form_single">
            <h3>
                BALANCE SHEET SETUP - DETAIL
            </h3>
        </div>
    </div>
    <div class="form_box_header">
        <div class="form_single">
            <div class="grid_wrapper_ns">
                <asp:DataGrid ID="DtgAsset" runat="server" AllowSorting="False" AutoGenerateColumns="false"
                    DataKeyField="ReportGroupId" CssClass="grid_general">
                    <HeaderStyle CssClass="th" />
                    <ItemStyle CssClass="item_grid" />
                    <Columns>
                       <asp:TemplateColumn HeaderText="Edit" HeaderStyle-Width="30px">
                            <ItemTemplate>
                                <asp:ImageButton ID="btnEdit" runat="server" ImageUrl="../Images/iconedit.gif" CommandName="Edit"
                                    OnCommand="CommandGrid_Click" CausesValidation="False" CommandArgument='<%# eval("ReportGroupId").tostring() + "," + Eval("ReportId") %>' />
                            </ItemTemplate>
                        </asp:TemplateColumn>
                        <asp:TemplateColumn HeaderText="Delete" HeaderStyle-Width="30px" >
                            <ItemTemplate>
                                <asp:ImageButton ID="btnDelete" runat="server" ImageUrl="../Images/icondelete.gif"
                                    CommandName="Delete" OnClientClick="return confirmDelete()" OnCommand="CommandGrid_Click" CausesValidation="False" CommandArgument='<%# eval("ReportGroupId").tostring() + "," + Eval("ReportId")  %>' />
                            </ItemTemplate>
                        </asp:TemplateColumn>
                         <asp:TemplateColumn HeaderText="Detail" HeaderStyle-Width="30px" >
                            <ItemTemplate>
                                <asp:ImageButton ID="btnDetail" runat="server" ImageUrl="../Images/icondetail.gif"
                                    CommandName="Detail" OnCommand="CommandGrid_Click" CausesValidation="False" CommandArgument='<%# eval("ReportGroupId").tostring() + "," + Eval("ReportId") + "," + Eval("GroupType")  %>' />
                            </ItemTemplate>
                        </asp:TemplateColumn>
                        <asp:TemplateColumn HeaderText = "Group Description" >
                            <ItemTemplate>
                                <asp:Label runat="server" ID="lblisBar" Visible=false  Text='<%# eval("isBar") %>' />
                                <asp:Label runat="server" ID="lblDisplay"   Text='<%# eval("gDesc") %>' /> 
                            </ItemTemplate>
                        </asp:TemplateColumn>
                                     
                        <asp:BoundColumn DataField="LayoutSequence" HeaderText="Layout Seqence" /> 
                        <asp:BoundColumn DataField="GroupType" HeaderText="Group Type" /> 

                         <asp:TemplateColumn HeaderText="" Visible="false">
                                <ItemTemplate>
                                    <asp:Label ID="lblReportGroupId" runat="server" Enabled="True" Text='<%# eval("ReportGroupId") %>'>
                                    </asp:Label>
                                    <asp:Label ID="lblReportId" runat="server" Enabled="True" Text='<%# eval("ReportId") %>'>
                                    </asp:Label>
                                </ItemTemplate>
                            </asp:TemplateColumn>

						<asp:TemplateColumn HeaderText="Up & Down">
                            <ItemTemplate>

                            <%--<asp:Button ID="btnUp" CommandName="Up" ToolTip="UP" Text="&uArr;" ForeColor="White" Height="20px" Font-Bold="true" 
                                BackColor="DimGray" runat="server" CommandArgument="<%# ((GridViewRow) Container).RowIndex %>" />--%>
                            <asp:ImageButton ID="btnUp" CommandName="Up" ImageUrl="../Images/arrowUp.png" runat="server" />

                            <%--<asp:Button ID="btnDown" CommandName="Down" ToolTip="Down" Text="&dArr;" ForeColor="White" Height="20px" 
                                Font-Bold="true" BackColor="DimGray" runat="server" CommandArgument="<%# ((GridViewRow) Container).RowIndex %>" />--%>
                            <asp:ImageButton ID="btnDown" CommandName="Down" ImageUrl="../Images/arrowDown.png" runat="server" />

                            </ItemTemplate>
                        </asp:TemplateColumn>

                    </Columns>
                </asp:DataGrid>
                <uc2:ucGridNav id="GridNavigator" runat="server"/>
              
            </div>
        </div>
    </div>
    <div class="form_button">
        <asp:HiddenField runat="server" ID="hdnReportId" />
        <asp:Button ID="btnAdd" runat="server" CausesValidation="False" Text="Add" CssClass="small button blue">
        </asp:Button>
    </div>
    
    
    </asp:Content>
<%--    </form>
</body>
</html>
--%>