﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="VarifikasiTabs.ascx.vb" Inherits="Maxiloan.Webform.GL.VarifikasiTabs" %>
<style>
.tab_selected, .tab_notselected 
{ width : 250px !important;
  margin-bottom: 0 !important;
    }
</style>
 <script type="text/javascript">

//        $(document).ready(function () {
//            $('#ContentPlaceHolder1_cTabs_hyvalid').click(function () {
//                $("#ContentPlaceHolder1_cTabs_hyvalid").removeClass("tab_notselected").addClass("tab_selected"); 
//                $("#ContentPlaceHolder1_cTabs_hyInvalid").removeClass("tab_selected").addClass("tab_notselected"); 
//            });

//            $('#ContentPlaceHolder1_cTabs_hyInvalid').click(function () {
//                $("#ContentPlaceHolder1_cTabs_hyvalid").removeClass("tab_selected").addClass("tab_notselected");
//                $("#ContentPlaceHolder1_cTabs_hyInvalid").removeClass("tab_notselected").addClass("tab_selected");
//            });
//         });
</script> 
 <div class="tab_container">
        <div id="tabValid" runat="server">
            <asp:HyperLink ID="hyvalid"   runat="server" Text="Valid"   />
        </div>
        <div id="tabInvalid" runat="server">
            <asp:HyperLink ID="hyInvalid" runat="server" Text="Invalid"  />
        </div> 
</div>