﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="StatementCetakKartuPiutang.aspx.vb" Inherits="Maxiloan.Webform.Implementasi.StatementCetakKartuPiutang" %>

<%@ Register Assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"
    Namespace="CrystalDecisions.Web" TagPrefix="CR" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <CR:CrystalReportViewer ID="CrystalReportViewer1" runat="server" AutoDataBind="true"
            HasExportButton="False" />
    </div>
    </form>
</body>
</html>
